/* Want to try using OOCSS and SMACSS according to this article: https://mattstauffer.co/blog/organizing-css-oocss-smacss-and-bem */
@import "../../../lib/angular-material/angular-material.scss";
@import "../../../lib/datatables.net-dt/css/jquery.dataTables"; //
@import "../../../lib/datatables-scroller/css/scroller.dataTables.scss";
@import "../../../lib/angular-dragula/dist/dragula";
@import "../../../lib/jquery-minicolors/jquery.minicolors";

@import "common/_all.scss";

[is=rv-map], .fgpv {
    @import "base/_all.scss";
    @import "modules/_all.scss";
    @import "other/_all.scss";
    @import "vendor/_all.scss";
    @import "layout/_all.scss";
    @import "_shame.scss";
}

@import "vendor/_special.scss";
