/* Want to try using OOCSS and SMACSS according to this article: https://mattstauffer.co/blog/organizing-css-oocss-smacss-and-bem */
@import "../../../lib/angular-material/angular-material.scss";
@import "../../../lib/datatables.net-dt/css/jquery.dataTables"; //
@import "../../../lib/datatables-scroller/css/scroller.dataTables.scss";
@import "../../../lib/angular-dragula/dist/dragula";

.fgpv {
    @import "common/_all.scss";
    @import "base/_all.scss";
    @import "modules/_all.scss";
    @import "other/_all.scss";
    @import "vendor/_all.scss";
    @import "layout/_all.scss";
    @import "_shame.scss";
}

@import "vendor/_special.scss";

.gu-transit {
    opacity: 0.2 !important;
}

.gu-mirror {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    background-color: white;

    //left: 10px !important;
}
