@import '../../material/angular-material.scss';
@import '../../material/angular-material.themes.min.css';
@import '~angular-dragula/dist/dragula.css';
@import '~@claviska/jquery-minicolors/jquery.minicolors.css';

@import 'common/_all.scss';

// load google fonts
@import 'vendor/_google.scss';

[is=rv-map], .fgpv {
    @import "base/_all.scss";
    @import "modules/_all.scss";
    @import "other/_all.scss";
    @import "vendor/_all.scss";
    @import "layout/_all.scss";
    @import "_shame.scss";
    @import "api/_all.scss";
}

@import 'vendor/_special.scss';
