@import "~angular-material/angular-material.scss";
@import "~datatables.net-dt/css/jquery.dataTables.css";
@import "~angular-dragula/dist/dragula.css";
@import "~@claviska/jquery-minicolors/jquery.minicolors.css";
@import '~datatables.net-dt/css/jquery.dataTables.css';
@import '~plyr/dist/plyr.css';

@import "common/_all.scss";

[is=rv-map], .fgpv {
    @import "base/_all.scss";
    @import "modules/_all.scss";
    @import "other/_all.scss";
    @import "vendor/_all.scss";
    @import "layout/_all.scss";
    @import "_shame.scss";
}

#flicks_layer > image {
    cursor: pointer;
}

@import "vendor/_special.scss";
