<div class="rv-content-pane layout-padding">

    <div class="rv-header" ng-show="self.titleValue && !self.floatingHeader" ng-switch on="self.titleStyle">
        <!-- display an appropriate header based on `headline` value -->
        <!-- hide header if no title text provided -->
        <div class="rv-header-content" layout="column">

            <h2 class="md-headline" ng-switch-when="headline">{{ self.titleValue }}</h2>
            <h3 class="md-title" ng-switch-when="headline" ng-if="self.subTitleValue">{{ self.subTitleValue }}</h3>

            <h3 class="md-title" ng-switch-when="title">{{ self.titleValue }}</h3>
            <h4 class="md-subhead" ng-switch-when="title" ng-if="self.subTitleValue">{{ self.subTitleValue }}</h4>

            <h4 class="md-subhead" ng-switch-when="subhead">{{ self.titleValue }}</h4>
            <h5 class="md-caption" ng-switch-when="subhead" ng-if="self.subTitleValue">{{ self.subTitleValue }}</h4>

            <h5 class="md-caption" ng-switch-when="caption">{{ self.titleValue }}</h4>

        </div>

        <span flex class="rv-spacer"></span>

        <!-- show close button if there is a closePanel function -->
        <md-button
            aria-label="{{ 'contentPane.aria.close' | translate }}"
            class="rv-close md-icon-button black rv-button-24"
            ng-click="self.closePanel()"
            ng-if="self.closeButton"
            rv-close-button>
            <md-tooltip>{{ 'contentPane.tooltip.close' | translate }}</md-tooltip>
            <md-icon class="rv-lt-lg" md-svg-src="navigation:arrow_back"></md-icon>
            <md-icon class="rv-lg" md-svg-src="navigation:close"></md-icon>
        </md-button>
    </div>

    <!-- floating header is deprecated -->
    <div class="rv-header-float" ng-show="self.floatingHeader && self.closePanel">

        <span flex class="rv-spacer"></span>

        <!-- show floating close button if there is a closePanel function and now title value -->
        <md-button
            aria-label="Close"
            class="md-icon-button black rv-button-auto"
            ng-click="self.closePanel()"
            ng-if="self.closeButton"
            rv-close-button>
            <md-tooltip>Close</md-tooltip>
            <md-icon class="rv-show-single" md-svg-src="navigation:arrow_back"></md-icon>
            <md-icon class="rv-hide-single" md-svg-src="navigation:close"></md-icon>
        </md-button>
    </div>

    <md-content class="rv-content" ng-if="!self.staticContent" rv-detect-scrollbar>
        <!-- hide content when it's loading and hideWhenLoading is "true" -->
        <ng-transclude class="rv-hide-animate" ng-class="{ 'rv-hide': self.isLoading && self.hideWhenLoading }"></ng-transclude>
    </md-content>

    <div class="rv-content" ng-if="self.staticContent">
        <ng-transclude class="rv-hide-animate" ng-class="{ 'rv-hide': self.isLoading && self.hideWhenLoading }"></ng-transclude>
    </div>

    <div class="rv-footer" ng-show="self.footer"></div>

    <md-progress-linear class="rv-progress-top" md-mode="indeterminate" ng-show="self.isLoading"></md-progress-linear>
</div>
