<rv-content-pane
    close-panel="self.closeLoaderFile()"
    floating-header="true"
    flow-drag-enter="self.dropActive = true"
    flow-drag-leave="self.dropActive = false"
    flow-prevent-drop
    class="rv-file-drop"
    rv-trap-focus="{{ ::self.appID }}"
    ng-class="{'rv-file-drop-active': self.dropActive}">

    <div
        class="rv-loader-file"
        flow-init="{ singleFile: true }">

        <div class="rv-file-drop-blur">

            <rv-stepper-item
                class="rv-loader-file-upload"
                step="self.upload.step"
                form="self.upload.form"
                summary-value="{{ self.upload.step.isCompleted ? self.upload.file.name || self.upload.fileUrl : 'import.file.upload.summary' }}">

                <md-input-container class="md-block rv-loader-file-upload-drop" flex>

                    <div class="md-block">
                        <div
                            flow-files-submitted="self.upload.filesSubmitted($files, $event, $flow)">

                            <md-button
                                class="rv-button-square rv-loader-file-select-button md-raised"
                                flow-btn
                                flow-progress="console.log()"
                                flow-attrs="{ accept: '.csv,.zip,.json' }"
                                name="dataUpload"
                                ng-click="self.upload.step.reset()">
                                <md-icon md-svg-src="file:file_upload"></md-icon>
                                {{ "import.file.upload.choose" | translate }}
                            </md-button>
                        </div>
                        <span class="md-caption">{{ 'import.file.upload.drop' | translate }}</span>
                    </div>

                    <md-progress-linear
                        md-mode="determinate"
                        value="{{ self.upload.progress }}"
                        ng-class="{ 'rv-hide': !self.upload.file }"></md-progress-linear>

                    <!-- this field is needed to attach the error messages; is't hidden -->
                    <input name="fileSelect" ng-model="self.upload.fileSelect" aria-label="{{ 'import.file.select.title' | translate }}">
                    <div ng-messages="self.upload.form.fileSelect.$error">
                        <div ng-message="upload-error">{{ 'import.file.upload.noaccess' | translate }}</div>
                    </div>

                </md-input-container>

                <span class="md-subhead rv-loader-file-upload-or">{{ 'import.file.upload.or' | translate }}</span>

                <md-input-container class="md-block">
                    <label>{{ 'import.file.upload.fileurl' | translate }}</label>
                    <input
                        name="fileUrl"
                        type="url"
                        ng-focus="self.upload.fileReset(); self.upload.fileUrlResetValidation()"
                        ng-model="self.upload.fileUrl"
                        ng-model-options="{ updateOn: 'default blur', debounce: { default: 30, blur: 0 } }"
                        ng-keypress="self.upload.step.onKeypress($event)"
                        required>

                    <md-progress-linear
                        md-mode="indeterminate"
                        ng-class="{ 'rv-hide': !self.upload.httpProgress }"></md-progress-linear>

                    <!-- TODO: decide whether and how to display a hint or error messages -->
                    <div ng-messages="self.upload.form.fileUrl.$error">
                        <div ng-message="url">{{ 'import.file.upload.invalid' | translate }}</div>
                        <div ng-message="upload-error">{{ 'import.file.upload.noaccess' | translate }}</div>
                    </div>
                </md-input-container>

            </rv-stepper-item>

            <rv-stepper-item
                form="self.select.form"
                step="self.select.step"
                summary-value="{{ self.layerSource.type && self.select.step.isCompleted ? 'import.file.type.' + self.layerSource.type : '' }}">

                <md-input-container class="md-block">
                    <label>{{ 'import.file.select.fileformat' | translate }}</label>
                    <md-select
                        name="dataType"
                        ng-disabled="self.layerSourceOptions.length === 1"
                        ng-model="self.layerSource"
                        md-on-open="self.select.selectResetValidation()" required>
                        <md-option
                            ng-repeat="sourceOption in self.layerSourceOptions"
                            ng-value="sourceOption">
                            {{ 'import.file.type.' + sourceOption.type | translate }}
                        </md-option>
                    </md-select>
                    <div ng-messages="self.select.form.dataType.$error">
                        <div ng-message="wrong">{{ 'import.file.select.wrong' | translate }}</div>
                    </div>

                    <!-- TODO: decide whether and how to display a hint or error messages; can use md-on-close="self.select.form.dataType.$setDirty()" -->
                    <!--div
                        ng-messages="self.select.form.dataType.$error"
                        ng-if="self.select.form.dataType.$dirty">
                        <div ng-message="required">Required</div>
                    </div>
                    <div class="rv-hint">Tell us what it is.</div-->

                </md-input-container>
            </rv-stepper-item>

            <rv-stepper-item step="self.configure.step" form="self.configure.form" ng-switch on="self.layerSource.type">

                <md-input-container class="md-block">
                    <label>{{ 'import.file.configure.layername' | translate }}</label>
                    <input name="layerName"
                        ng-change="self.configure.configureResetValidation()"
                        ng-model="self.layerSource.config.name" required>
                    <!-- TODO: decide whether and how to display a hint or error messages -->
                    <!--div ng-messages="self.configure.form.layerName.$error">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="md-maxlength">That's too long!</div>
                    </div-->
                </md-input-container>

                <md-input-container class="md-block">
                    <label>{{ 'import.file.configure.primaryfield ' | translate }}</label>
                    <md-select
                        name="primaryField"
                        md-on-open="self.configure.configureResetValidation()"
                        ng-model="self.layerSource.config.nameField"
                        required>
                        <md-option ng-repeat="field in self.layerSource.fields" value="{{ field.name }}">
                            {{ field.name }}
                        </md-option>
                    </md-select>
                    <!-- TODO: decide whether and how to display a hint or error messages -->
                    <!--div  ng-messages="self.configure.form.primaryField.$error">
                        <div ng-message="required">Required</div>
                    </div-->
                </md-input-container>

                <div layout="row" ng-switch-when="csv">
                    <md-input-container class="md-block" flex>
                        <label>{{ 'import.file.configure.latitudefield' | translate }}</label>
                        <md-select
                            name="latitude"
                            md-on-open="self.configure.configureResetValidation()"
                            ng-model="self.layerSource.latfield"
                            required>
                            <md-option ng-repeat="field in self.layerSource.latFields" value="{{ field.name }}">
                                {{ field.name }}
                            </md-option>
                        </md-select>
                        <!-- TODO: decide whether and how to display a hint or error messages -->
                        <!--div ng-messages="self.configure.form.latitude.$error">
                            <div ng-message="required">Required</div>
                        </div-->
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>{{ 'import.file.configure.longitudefield' | translate }}</label>
                        <md-select
                            name="longitude"
                            md-on-open="self.configure.configureResetValidation()"
                            ng-model="self.layerSource.lonfield"
                            required>
                            <md-option ng-repeat="field in self.layerSource.longFields" value="{{ field.name }}">
                                {{ field.name }}
                            </md-option>
                        </md-select>
                        <!-- TODO: decide whether and how to display a hint or error messages -->
                        <!--div  ng-messages="self.configure.form.longitude.$error">
                            <div ng-message="required">Required</div>
                        </div-->
                    </md-input-container>

                </div>

                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label>{{ 'import.file.configure.colourfield' | translate }}</label>
                        <input rv-minicolors options="self.configure.colourPickerSettings"
                            name="layerName"
                            ng-change="self.configure.configureResetValidation()"
                            ng-model="self.layerSource.colour" required>
                        <!-- TODO: decide whether and how to display a hint or error messages -->
                        <!--div ng-messages="self.configure.form.layerName.$error">
                            <div ng-message="required">This is required!</div>
                            <div ng-message="md-maxlength">That's too long!</div>
                        </div-->
                    </md-input-container>
                </div>

                <div ng-messages="self.configure.form.$error" class="rv-form-error">
                    <div ng-message="invalid">{{ 'import.file.configure.invalid' | translate }}</div>
                </div>

                <p class="md-caption">{{ 'stepper.unresponsive' | translate }}</p>

            </rv-stepper-item>
        </div>

        <div class="rv-file-drop-container" flow-drop>
            <div class="rv-file-drop-title">
                <span class="md-display-2">{{ 'import.file.upload.drop' | translate }}</span>
                <md-icon md-svg-src="file:file_upload"></md-icon>
            </div>
        </div>
    </div>

</rv-content-pane>
