<rv-content-pane
    close-panel="self.closeLoaderFile()"
    floating-header="true"
    flow-drag-enter="self.dropActive = true"
    flow-drag-leave="self.dropActive = false"
    flow-prevent-drop
    class="rv-file-drop"
    ng-class="{'rv-file-drop-active': self.dropActive}">

    <div
        class="rv-loader-file"
        flow-init="{ singleFile: true }">

        <div class="rv-file-drop-blur">

            <rv-stepper-item
                class="rv-loader-file-upload"
                step="self.upload.step"
                form="self.upload.form"
                summary-value="{{ self.upload.step.isCompleted ? self.upload.file.name || self.upload.fileUrl : 'import.file.upload.summary' }}">

                <md-input-container class="md-block rv-loader-file-upload-drop" flex>

                    <div class="md-block">
                        <div
                            flow-files-submitted="self.upload.filesSubmitted($files, $event, $flow)">

                            <md-button
                                class="rv-button-square rv-loader-file-select-button md-raised"
                                flow-btn
                                flow-progress="console.log()"
                                flow-attrs="{ accept: '.csv,.zip,.json' }"
                                ng-click="self.upload.step.reset()">
                                <md-icon md-svg-src="file:file_upload"></md-icon>
                                {{ "import.file.upload.choose" | translate }}
                            </md-button>
                        </div>
                        <span class="md-caption" translate>import.file.upload.drop</span>
                    </div>

                    <md-progress-linear
                        md-mode="determinate"
                        value="{{ self.upload.progress }}"
                        ng-class="{ 'rv-hide': !self.upload.file }"></md-progress-linear>

                    <!-- this field is needed to attach the error messages; is't hidden -->
                    <input name="fileSelect" ng-model="self.upload.fileSelect">
                    <div ng-messages="self.upload.form.fileSelect.$error" ng-if="self.upload.form.fileSelect.$invalid">
                        <div ng-message="upload-error" translate>import.file.upload.noaccess</div>
                    </div>
                </md-input-container>

                <span class="md-subhead rv-loader-file-upload-or" translate>import.file.upload.or</span>

                <md-input-container class="md-block">
                    <label translate>import.file.upload.fileurl</label>
                    <input
                        name="fileUrl"
                        type="url"
                        ng-focus="self.upload.fileReset(); self.upload.fileUrlResetValidation()"
                        ng-model="self.upload.fileUrl"
                        ng-model-options="{ updateOn: 'default blur', debounce: { default: 300, blur: 0 } }"
                        required>

                    <!-- TODO: decide whether and how to display a hint or error messages -->
                    <div ng-messages="self.upload.form.fileUrl.$error">
                        <div ng-message="url" translate>import.file.upload.invalid</div>
                        <div ng-message="upload-error" translate>import.file.upload.noaccess</div>
                    </div>
                </md-input-container>

            </rv-stepper-item>

            <rv-stepper-item
                form="self.select.form"
                step="self.select.step"
                summary-value="{{ self.layerBlueprint.fileType && self.select.step.isCompleted ? 'import.file.type.' + self.layerBlueprint.fileType : '' }}">

                <md-input-container class="md-block">
                    <label translate>import.file.select.fileformat</label>
                    <md-select name="dataType" ng-model="self.layerBlueprint.fileType" md-on-open="self.select.selectResetValidation()" required>
                        <md-option ng-repeat="fileType in self.fileTypes" value="{{ fileType }}">
                            {{ 'import.file.type.' + fileType | translate }}
                        </md-option>
                    </md-select>
                    <div ng-messages="self.select.form.dataType.$error">
                        <div ng-message="wrong" translate>import.file.select.wrong</div>
                    </div>

                    <!-- TODO: decide whether and how to display a hint or error messages; can use md-on-close="self.select.form.dataType.$setDirty()" -->
                    <!--div
                        ng-messages="self.select.form.dataType.$error"
                        ng-if="self.select.form.dataType.$dirty">
                        <div ng-message="required">Required</div>
                    </div>
                    <div class="rv-hint">Tell us what it is.</div-->

                </md-input-container>
            </rv-stepper-item>

            <rv-stepper-item step="self.configure.step" form="self.configure.form" ng-switch on="self.layerBlueprint.fileType">

                <md-input-container class="md-block">
                    <label translate>import.file.configure.layername</label>
                    <input name="layerName" ng-model="self.layerBlueprint.userOptions.layerName" required>
                    <!-- TODO: decide whether and how to display a hint or error messages -->
                    <!--div ng-messages="self.configure.form.layerName.$error">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="md-maxlength">That's too long!</div>
                    </div-->
                </md-input-container>

                <md-input-container class="md-block">
                    <label translate>import.file.configure.primaryfield</label>
                    <md-select name="primaryField" ng-model="self.layerBlueprint.userOptions.primaryField" required>
                        <md-option ng-repeat="field in self.layerBlueprint.fields" value="{{ field.name }}">
                            {{ field.name }}
                        </md-option>
                    </md-select>
                    <!-- TODO: decide whether and how to display a hint or error messages -->
                    <!--div  ng-messages="self.configure.form.primaryField.$error">
                        <div ng-message="required">Required</div>
                    </div-->
                </md-input-container>

                <div layout="row" ng-switch-when="csv">
                    <md-input-container class="md-block" flex>
                        <label translate>import.file.configure.latitudefield</label>
                        <md-select name="latitude" ng-model="self.layerBlueprint.userOptions.latfield" required>
                            <md-option ng-repeat="field in self.layerBlueprint.fields" value="{{ field.name }}">
                                {{ field.name }}
                            </md-option>
                        </md-select>
                        <!-- TODO: decide whether and how to display a hint or error messages -->
                        <!--div ng-messages="self.configure.form.latitude.$error">
                            <div ng-message="required">Required</div>
                        </div-->
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>import.file.configure.longitudefield</label>
                        <md-select name="longitude" ng-model="self.layerBlueprint.userOptions.lonfield" required>
                            <md-option ng-repeat="field in self.layerBlueprint.fields" value="{{ field.name }}">
                                {{ field.name }}
                            </md-option>
                        </md-select>
                        <!-- TODO: decide whether and how to display a hint or error messages -->
                        <!--div  ng-messages="self.configure.form.longitude.$error">
                            <div ng-message="required">Required</div>
                        </div-->
                    </md-input-container>

                </div>

                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label translate>import.file.configure.colourfield</label>
                        <input minicolors="self.configure.colourPickerSettings" name="layerName" ng-model="self.layerBlueprint.userOptions.colour" required>
                        <!-- TODO: decide whether and how to display a hint or error messages -->
                        <!--div ng-messages="self.configure.form.layerName.$error">
                            <div ng-message="required">This is required!</div>
                            <div ng-message="md-maxlength">That's too long!</div>
                        </div-->
                    </md-input-container>
                </div>

            </rv-stepper-item>
        </div>

        <div class="rv-file-drop-container" flow-drop>
            <div class="rv-file-drop-title">
                <span class="md-display-2" translate>import.file.upload.drop</span>
                <md-icon md-svg-src="file:file_upload"></md-icon>
            </div>
        </div>
    </div>

</rv-content-pane>
