<md-menu md-position-mode="target target">

    <!-- TODO: add translate filters -->

    <md-button
        translate translate-attr-aria-label="import.title"
        class="md-icon-button primary"
        ng-click="$mdOpenMenu($event)"
        ng-class="{ selected: self.state.mainLoaderFile.active || self.state.mainLoaderService.active }">
        <md-tooltip>{{ 'import.title' | translate }}</md-tooltip>
        <md-icon md-svg-src="content:add"></md-icon>
    </md-button>

    <md-menu-content rv-trap-focus="{{::self.appID}}" class="rv-menu rv-dense" width="4">
        <md-menu-item>
            <md-button
                ng-click="self.openFileLoader()"
                translate translate-attr-aria-label="import.file.title">
                <md-icon md-svg-icon="editor:insert_drive_file"></md-icon>
                {{ 'import.file.title' | translate }}
            </md-button>
        </md-menu-item>

        <md-menu-item>
            <md-button ng-click="self.openServiceLoader()"
                translate translate-attr-aria-label="import.service.title">
                <md-icon md-svg-icon="file:cloud"></md-icon>
                {{ 'import.service.title' | translate }}
            </md-button>
        </md-menu-item>

        <!-- data catalogue import functionality will be moved to the host page
        <md-menu-divider></md-menu-divider>

        <md-menu-item >
            <md-button ng-click="self.openCatalogueLoader()" ng-disabled="true" aria-label="From Data Catalogue">
                <md-icon md-svg-icon="action:shopping_cart"></md-icon>
                From Data Catalogue
            </md-button>
        </md-menu-item>-->

    </md-menu-content>
</md-menu>
