<rv-content-pane close-panel="self.closeLoaderService()" floating-header="true" rv-trap-focus="{{ ::self.appID }}">

    <div class="rv-loader-service">
        <rv-stepper-item
            step="self.connect.step"
            form="self.connect.form"
            summary-value="{{ self.connect.step.isCompleted ? self.connect.serviceUrl : '' }}">

            <md-input-container class="md-block">
                <label translate>import.service.connect.serviceurl</label>
                <input
                    name="serviceUrl"
                    type="url"
                    ng-change="self.connect.serviceUrlResetValidation()"
                    ng-model="self.connect.serviceUrl"
                    ng-model-options="{ updateOn: 'default blur', debounce: { default: 300, blur: 0 } }"
                    ng-keypress="self.connect.step.onKeypress($event)"
                    required>
                <div ng-messages="self.connect.form.serviceUrl.$error">
                    <div ng-message="url">{{ 'import.service.connect.invalidurl' | translate }}</div>
                    <div ng-message="broken">{{ 'import.service.connect.broken' | translate }}</div>
                </div>
            </md-input-container>
        </rv-stepper-item>

        <!-- Selecting layer type -->

        <rv-stepper-item step="self.select.step" form="self.select.form"
            summary-value="{{ self.select.step.isCompleted ? 'import.service.type.' + self.layerSource.type : '' }}">
            <md-input-container class="md-block">
                <label translate>import.service.select.servicetype</label>
                <md-select
                    name="serviceType"
                    ng-disabled="self.layerSourceOptions.length === 1"
                    ng-model="self.layerSource"
                    md-on-open="self.select.serviceTypeResetValidation()" required>
                    <md-option
                        ng-repeat="sourceOption in self.layerSourceOptions"
                        ng-value="sourceOption">
                        {{ 'import.service.type.' + sourceOption.type | translate }}
                    </md-option>
                </md-select>
                <div ng-messages="self.select.form.serviceType.$error">
                    <div ng-message="wrong">{{ 'import.service.select.wrong' | translate }}</div>
                </div>
            </md-input-container>
        </rv-stepper-item>

        <!-- Configuring layer -->

        <rv-stepper-item
            step="self.configure.step"
            form="self.configure.form"
            ng-switch on="self.layerSource.type">

            <md-input-container class="md-block">
                <label translate>import.service.configure.layername</label>
                <input name="layerServiceName" ng-model="self.layerSource.config.name" required>
                <!-- TODO: decide whether and how to display a hint or error messages -->
                <!--div ng-messages="self.configure.form.layerName.$error">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="md-maxlength">That's too long!</div>
                </div-->
            </md-input-container>

            <md-input-container class="md-block" ng-switch-when="featurelayer">
                <label translate>import.service.configure.primaryfield</label>
                <md-select
                    name="primaryField"
                    ng-model="self.layerSource.config.nameField"
                    required>
                    <md-option ng-repeat="field in self.layerSource.fields" value="{{ field.name }}">
                        {{ field.alias || field.name }}
                    </md-option>
                </md-select>
                <!-- TODO: decide whether and how to display a hint or error messages -->
                <!--div class="errors" ng-messages="self.configure.form.primaryField.$error">
                        <div ng-message="required">Required</div>
                    </div-->
            </md-input-container>

            <md-input-container class="md-block" ng-switch-when="dynamicservice">
                <label translate>import.service.configure.layers</label>
                <md-select
                    name="layer"
                    ng-model="self.layerSource.config.layerEntries"
                    ng-model-options="{ trackBy: '$value.index' }"
                    required multiple>
                    <md-option ng-repeat="layer in self.layerSource.layers"
                        ng-value="layer">
                        {{ layer.indent + ' ' + layer.name }}
                    </md-option>
                </md-select>
                <div class="rv-hint" translate>import.service.configure.multipleselection</div>
                <!-- TODO: decide whether and how to display a hint or error messages -->
                <!--div class="errors" ng-messages="self.configure.form.primaryField.$error">
                        <div ng-message="required">Required</div>
                    </div-->
            </md-input-container>

            <md-input-container class="md-block" ng-switch-when="wms">
                <label translate>import.service.configure.layers</label>
                <md-select
                    name="layers"
                    ng-model="self.layerSource.config.layerEntries"
                    ng-model-options="{ trackBy: '$value.index' }"
                    required multiple>
                    <md-option ng-repeat="layer in self.layerSource.layers"
                        ng-value="layer">
                        {{ layer.indent + ' ' + layer.desc }}
                    </md-option>
                </md-select>
                <div class="rv-hint" translate>import.service.configure.multipleselection</div>
                <!-- TODO: decide whether and how to display a hint or error messages -->
                <!--div class="errors" ng-messages="self.configure.form.layers.$error">
                    <div ng-message="required">Required</div>
                </div-->
            </md-input-container>

            <p class="md-caption">{{ 'stepper.unresponsive' | translate }}</p>

        </rv-stepper-item>
    </div>

</rv-content-pane>
