// Primary mixin
@mixin sidenav {
    md-sidenav {
        &.site-sidenav {
            max-width: 300px;
            min-width: 300px;
            flex-direction: column;
            overflow: hidden;

            @include include-size(rv-sm) {
                width: 80%;
            }

            > md-content {
                flex-direction: column;
                display: flex;
                flex: 1;
                padding: rem(0.8) 0;

                // this here is needed so IE doesn't crush menu content
                > * {
                    flex-shrink: 0;
                }
            }

            .rv-has-icon {
                display: flex !important;
                align-items: center;
                flex-shrink: 0;

                md-icon {
                    margin-right: rem(0.8);
                }
            }

            .rv-version {
                text-align: center;
                margin: rem(3.6) rem(1.2) rem(1.2) rem(1.2);

                &-number {
                    font-weight: bold;
                    display: block;
                }

                &-hash {
                    margin-left: rem(0.3);
                    font-weight: normal;
                    font-size: smaller;
                }

                &-timestamp {
                    font-size: smaller;
                }

                &-github {
                    display: flex;
                    justify-content: center;
                    margin-top: rem(0.5);

                    > a {
                        display: flex;
                        align-items: center;

                        md-icon {
                            margin-right: rem(0.4);
                        }
                    }
                }
            }

            .rv-sidemenu-header {
                border-bottom: 1px solid $primary-color-light;
                background: linear-gradient(#CFD8DC, #FFFFFF);
            }

            .app-logo {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 auto;

                img {
                    flex-shrink: 0; // IE11 fix, see https://github.com/philipwalton/flexbugs#6-the-default-flex-value-has-changed
                    max-width: 100%;
                    max-height: 100%;
                }

                // default logo is svg, can stretch
                md-icon {
                    width: 100%;
                    height: 100%;
                }

                div {
                    width: rem(15);
                    height: rem(15);
                    margin-top: rem(3);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    // when height < 450
                    @include include-size(rv-st) {
                        width: rem(5);
                        height: rem(5);
                        margin-top: rem(1);
                    }
                }

                &.rv-no-logo {
                    align-items: baseline;

                    h1 {
                        padding: 0 rem(5.2) 0 rem(1.6) + rem(2.4) + rem(1.6);
                    }
                }

                // reset overrides
                h1 {
                    line-height: rem(5.2);
                    margin: 0;
                    border: 0;
                    padding: 0;
                    padding: 0 rem(1.6);
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    // when height < 450
                    @include include-size(rv-st) {
                        font-size: rem(1.8);
                        line-height: rem(3.6);
                    }
                }
            }

            .minimize-button {
                position:absolute;
                margin: 10px;
                top:0;
                right:0;
            }

            .app-logotype {
                color: black;
                text-align: center;
                font-weight: 400;
                font-size: 26px;
            }

            .app-menu {
                padding: 0;
                margin: rem(0.8) 0;
                list-style: none;
                max-width: 100%;

                &-sublist {
                    margin: 0;
                }
            }

            .menu-heading {
                display: block;
                line-height: 32px;
                margin: 0;
                padding: 8px 16px 0;
                text-align: left;
                width: 100%;
                color: black;
            }
            @include menu-link;
            @include menu-touch;
        }
    }
}

@mixin menu-touch {
    .rv-touch {
        padding: 0;
        margin: 0;
        @include menu-button;

        md-icon {
            margin: 6px 8px;
            float: right;
        }
    }
}

%menu-item {
    color: black;
    line-height: rem(4);
    max-height: rem(4);
    margin: 0;
    overflow: hidden;
    padding: 0 rem(1.6);
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

@mixin menu-link {
    rv-menu-link {
        padding: 0;
        margin: 0;

        @include menu-button;

        .rv-menulink-header {
            @extend %menu-item;

            text-transform: capitalize;

        }

        button, .rv-menulink-header {
            text-overflow: ellipsis;

            md-icon:first-child {
                margin-right: rem(1.6);
            }

            > span {
                white-space: nowrap;
            }
        }
    }
}

@mixin menu-button {
    .md-button {
        @extend %menu-item;

        border-radius: 0;
    }
}
