@mixin file-drop {
    .rv-file-drop {
        &-active {
            .rv-file-drop-container {
                visibility: visible;
                opacity: 1;
                transition-delay: 0s;
            }

            // make the original content blurry
            .rv-file-drop-blur {
                filter: blur(rem(0.2));
            }
        }

        &-title {
            top: 12%; // this is very random, need a better way to offset the drop label
            position: absolute;
            color: $secondary-text-color;
            width: 100%;
            padding: {
                left: rem(2.0);
                right: rem(2.0);
            }
            md-icon {
                display: block;
                height: rem(5);
                width: rem(5);
                margin-top: rem(1.8);
            }
        }

        .rv-file-drop-blur {
            // TODO: add filter transition when it's supported by more browsers
            //transition: filter $swift-ease-in-duration $swift-ease-in-out-timing-function;
        }

        &-container {
            text-align: center;
            visibility: hidden;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(white, 0.86);
            z-index: 1; // to overlay close button
            opacity: 0;
            transition: visibility 0s linear $swift-ease-in-duration, opacity $swift-ease-in-duration $swift-ease-in-out-timing-function;

            &:before {
                position: absolute;
                content: "";
                top: rem(0.8);
                bottom: 0;
                border: rem(0.3) dashed $secondary-text-color;
                right: rem(0.8);
                left: rem(0.8);
                background: linear-gradient(rgba(#FFFFFF, 0.05), rgba($primary-color-light, 0.3));
            }
        }
    }
}
