@mixin loader {
    #fileLoader, #serviceLoader {
        top: 49px;
        left: 0px;
        width: 400px;

        @include include-size(rv-sm) {
            top: 49px;
            left: 0px;
            margin: 0;
            width: 100%;
        }
    }

    .rv-loader {
        &-file,
        &-service {
            rv-stepper-item {
                // hides connecting lines before the first and after the last step in a sequence
                &:first-of-type .rv-stepper-item-container:before {
                    display: none;
                }

                &:last-of-type .rv-stepper-item-container:after {
                    display: none;
                }

                // we have to do this to remove select element added inside md-select in rv-stepper-item like in loader-file.html
                // when we set name attribute, a select element is created and it becomes a hidden tab
                .md-visually-hidden {
                    display: none;
                }
            }

            &-caption {
                display: block;
                text-align: center;
            }

            // simple static hint
            // TODO: create a module for input controls and move it there
            .rv-hint {
                /* Position the hint */
                position: relative;
                left: rem(0.2);
                right: auto;
                top: rem(0.3);
                /* Copy styles from ng-messages */
                font-size: 12px;
                line-height: 14px;
                color: $secondary-text-color;
            }

            .rv-form-error > div {
                font-size: 12px;
                line-height: 14px;
                overflow: hidden;
                margin-top: 0;
                padding-top: 5px;
                color: rgb(221,44,0); /*color needs to be tied to theme*/
            }

            .rv-styles-list {
                .style-title {
                    color: darken(#00BCD4, 20%);
                    text-align: left;
                    padding: 0;
                    margin: 0;
                    border-bottom: 1px solid $divider-color-light;
                    width: 100%;

                    .rv-icon-24 {
                        float: right;
                    }
                }

                @include include-size(rv-gt-sm) {
                    margin: {
                        top: rem(0.6);
                        bottom: rem(0.6);
                    }
                }
                padding: {
                    top: 0;
                    bottom: 0;
                }
                @include pane-title;

                .rv-toggled.md-toggle-icon {
                    transform: rotate(180deg) !important;
                }
            }

            .wms-styles {
                width: 100%;
                margin-top: 25px;
            }
        }

        // TODO: this is horrible; need to organize it better
        &-file {
            &-upload {
                &-drop {
                    text-align: center;

                    .md-errors-spacer,
                    .md-input {
                        display: none;
                    }
                }

                &-or {
                    display: block;
                    text-align: center;
                }
            }
            // local file select button
            &-select-button {
                padding: 0 rem(2.4) 0 rem(2.0);

                md-icon {
                    margin-right: rem(0.6);
                }
            }
        }
    }
}
