@mixin stepper {
    .rv-stepper-item {
        @include header;
        @include content;
        @include body;
        @include footer;

        &-container {
            margin: 0 rem(1.6);
            position: relative;

            // lines connecting steps
            &:after {
                content: "";
                position: absolute;
                border-left: 1px solid black;
                top: rem(5.6);
                bottom: 0;
                left: rem(1.1);
            }

            &:before {
                content: "";
                position: absolute;
                border-left: 1px solid black;
                top: 0;
                height: rem(1.6);
                left: rem(1.1);
            }
        }
    }
}

@mixin header {
    &-header {
        display: flex;
        align-items: flex-start;
        padding: rem(2.4) 0 rem(1.6);

        &.rv-summary {
            padding-bottom: rem(0.2);

            .md-caption {
                //line-height: rem(0.8);
                margin-top: - rem(0.6);
                display: inline;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    &-title {
        margin: 0 0 0 rem(1.2);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        flex: 1;

        h5 {
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .md-caption {
            display: none;
        }
    }

    &-number {
        display: block;
        width: rem(2.4);
        height: rem(2.4);
        background: $secondary-text-color;
        border-radius: 50%;
        color: #FFF;
        line-height: rem(2.5);
        text-align: center;
        padding-bottom: rem(0.1);

        &.rv-active {
            background: $primary-color-dark;
        }
    }

    &-check {
        margin: 0;
        color: $secondary-text-color;

        &.rv-active {
            color: $primary-color-dark;
        }

        > svg {
            transform: scale(1.2); // 20 * 1.2 = 24
            transform-origin: 50% 50%;
        }
    }
}

@mixin content {
    &-content {
        margin-left: rem(3.6);

        // only hide overflow when animation
        // if left, it will cut the ripple effect on checkboxes
        .ng-animate {
            overflow: hidden;
        }
    }
}

@mixin body {
    &-body {
        //border: 1px solid black;
        margin: 0 0 rem(1.6);
    }
}

@mixin footer {
    &-footer {
        margin: 0;
        display: flex;
        justify-content: flex-end;
        padding-bottom: rem(2.4);

        &-continue {
            min-width: rem(12.0);
        }

        .md-button {
            margin: 0 rem(0.8) 0 0;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
