.elem {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.panel-contents {
    background-color: #ffffff; 
    border: 1px solid #ccc; 
    box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset; 
    display: inline-block;
    position: absolute;
    top: 0px; 
    left: 0px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}
.panel-controls {
    border-bottom: lightgrey solid 1px;
    padding: 3px;
}
.panel-body{
    margin-top: 2px;
    display: inline-block;
    padding: 3px;
}
.btn{
    width: 36px;
    height: 26px;
    margin: 2px;
    background-color: #ffffff;
    border: none;
    outline: none;
    overflow: hidden;
    vertical-align: middle;
    overflow: hidden;
}

button:after {
    z-index: 2;
    display: block;
    position: absolute;
    height: 16px;
    width: 16px;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    background: grey;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 0.75s;
  }
  @keyframes ripple {
    100% {
      opacity: 0;
      transform: scale(2.5);
    }
  }

.text-btn{
    width: 36px;
    height: 26px;
    margin: 2px;
    padding: 2px;
    background-color: white;
    border: 2px solid  slategrey;
    outline: none;
    color: slategrey;
    overflow: hidden;
    vertical-align: middle;
}


.text-btn:hover {
    background-color: darkslategray;
    border: 2px solid  darkslategrey;
    color: white;
    outline: none;
}

.text-btn:click {
    background-color: darkslategray;
    color: white;
    outline: none;
}

.svg-style{
    width: 80%;
    height: 80%;
    top: 0px;
    left: 0px;
    fill: #778899;
}
.svg-style:hover{
    fill: darkslategray;
}
.txt{
    width: 20%;
    height: 20%;
}
.hidden{
    visibility: hidden;
}
.divider{
    border-left: 1px solid rgb(146, 167, 187);
    height: 36px;
    margin-left: 10px;
    padding-bottom: 0px;
}
.inline{
    display: inline-block;
    padding: 5px;
}
