logs/*
!.gitkeep
node_modules/
lib/
bower_components/
dist/
build/
docbuild/
tmp/
.tmp/
report/
.DS_Store
.idea
typings/
tsd.json
.vagrant/
docs/contribute/jsDocs
docs/developer/api_tech_docs
src/content/samples/plugins/**/*
.vscode/
.material-cache/
angular_material/

# VIM files
*~
*.swp
*.swo
npm-debug.log
