<div class="rv-geosearch-content rv-whiteframe-z2" ng-show="self.service.searchValue && self.service.isResultsVisible" rv-trap-focus>

    <rv-geosearch-top-filters on-update="self.onTopFiltersUpdate" ng-if="!self.service.serviceError"></rv-geosearch-top-filters>

    <md-divider class="rv-geosearch-divider" ng-if="!self.service.serviceError"></md-divider>

    <div class="rv-geosearch-results">

        <span class="rv-no-results" ng-if="self.service.noResultsSearchValue">{{ 'geosearch.nomatches.label' | translate:self.service }}</span>
        <span class="rv-no-results" ng-if="self.service.serviceError"><md-icon md-svg-src="alert:warning"></md-icon> <span>{{ 'geosearch.serviceerror.label' | translate:self.service }}</span></span>

        <ul class="rv-results-list">

            <li class="rv-results-item" ng-repeat="result in self.service.searchResults"
                ng-mousedown="self.service.zoomTo(result)"
                ng-mouseenter="self.setTruncated($event, result)">
                <!-- need to use ng-mousedown on li instead of ng-click on button because of ng-focus and ng-blur -->
                <md-button
                    aria-label="result.name + ' ' + result.location.city ' ' + result.location.province.abbr + ' ' + result.type.name"
                    class="rv-results-item-body-button rv-button-square"
                    ng-click="self.service.zoomTo(result)">
                </md-button>

                <div class="rv-results-item-main">
                    <!-- no spaces between spans here please; https://css-tricks.com/fighting-the-space-between-inline-block-elements/ -->
                    <span class="rv-results-item-name"
                        ng-bind-html="::result.name | highlight:self.service.searchValue:'rv-geosearch-highlight'">
                    </span><span class="rv-results-item-city md-caption" ng-if="result.location.city">
                        , {{ ::result.location.city }}
                    </span><span class="rv-results-item-province md-caption" ng-if="result.location.province.name">
                        , {{ ::result.location.province.abbr }}
                    </span>
                </div>

                <span flex></span>

                <span class="rv-results-item-type md-caption">
                    {{ ::result.type.name }}
                </span>

                <md-tooltip md-delay="750" md-direction="{{ self.getTooltipDirection() }}" ng-show="result.isNameTruncated">
                    {{ result.name
                    + (result.location.city ? ', ' + result.location.city : '')
                    + (result.location.province.abbr ? ', ' + result.location.province.abbr : '')
                    }}&nbsp;
                    {{ result.type.name }}
                </md-tooltip>
            </li>
        </ul>

    </div>

    <md-divider class="rv-geosearch-divider" ng-if="!self.service.serviceError"></md-divider>

    <rv-geosearch-bottom-filters on-update="self.onBottomFiltersUpdate" ng-if="!self.service.serviceError"></rv-geosearch-bottom-filters>

</div>
