<div class="rv-geosearch-top-filters">

    <md-input-container md-no-float class="rv-geosearch-province-filter">
        <md-select
            placeholder="{{ 'geosearch.label.province' | translate }}"
            ng-model="self.selectedProvince"
            ng-change="self.setProvince()">
            <!-- <md-option ng-repeat="province in self.service.provinces| orderBy: 'abbr'" ng-value="province"> -->
            <md-option ng-repeat="index in self.service.provinceIndexes" ng-value="province = self.service.provinces[index]">
                {{ province.name }}
            </md-option>
        </md-select>
    </md-input-container>

    <md-input-container md-no-float class="rv-geosearch-type-filter">
        <md-select
            placeholder="{{ 'geosearch.label.type' | translate }}"
            ng-model="self.selectedType"
            ng-change="self.setType()">
            <!-- <md-option ng-repeat="type in self.service.types | orderBy: 'name'" ng-value="type"> -->
            <md-option ng-repeat="index in self.service.typeIndexes | orderBy: 'name'" ng-value="type = self.service.types[index]">
                {{ type.name }}
            </md-option>
        </md-select>
    </md-input-container>

    <md-button
        ng-disabled="!self.selectedType && !self.selectedProvince"
        aria-label="{{ 'appbar.aria.geosearchfilters' | translate }}"
        class="md-icon-button rv-icon-20 rv-button-24 black"
        ng-click="self.clear()">
        <md-tooltip>{{ 'appbar.aria.geosearchfilters' | translate }}</md-tooltip>
        <md-icon md-svg-src="community:filter-remove"></md-icon>
    </md-button>
</div>
