<rv-content-pane header-controls="rv-metadata-expand" is-loading="self.display.isLoading" title-style="title"
    title-value="{{'metadata.title' | translate }}: {{ self.display.requester.name }}">
    <div>
        <div class="rv-subsection">
            <div class="rv-subcontent">
                <rv-metadata-content max-text-length="250"></rv-metadata-content>
                <md-icon class="rv-meta-panel-data-failure-default" ng-if="!self.tocService.validMetadata && !self.failureImageUrl" md-svg-src="sadpanda"></md-icon>
                <img class="rv-meta-panel-data-failure-custom" ng-if="!self.tocService.validMetadata && self.failureImageUrl" ng-src="{{ self.failureImageUrl }}">
            </div>
        </div>
    </div>
</rv-content-pane>
