<md-input-container md-no-float
    class="rv-table-search md-block"
    ng-if="self.service.isGlobalSearch">
    <input
        aria-label="{{ filter.aria.table.search | translate }}"
        ng-model="self.searchText"
        ng-keyup="self.search()"
        placeholder="{{ 'filter.search.placeholder' | translate }}">
    <md-button ng-show="self.searchText.length > 2" ng-click="self.clear()">
        <md-icon md-svg-src="navigation:close"></md-icon>
    </md-button>
    <md-icon ng-show="self.searchText.length <= 2" md-svg-src="action:search">
        <md-tooltip>{{ 'filter.aria.table.search' | translate }}</md-tooltip>
    </md-icon>
</md-input-container>

<span class="rv-table-divider" ng-if="self.service.isGlobalSearch"></span>
