<rv-content-pane title-style="title" title-value="{{self.title}} - {{ 'filter.table.filter' | translate }}" ng-show="self.tableService.isSettingOpen" close-panel="self.onClose()">

    <div class="rv-flex">
        <div class="rv-filter-setting rv-invert rv-toggle-slide">

            <div class="rv-filter-desc" ng-if="self.description">
                <md-button
                    class="rv-filter-desc-button rv-button-square"
                    ng-click="self.isShowDescription = !self.isShowDescription"
                    rv-help="group-toggle"></md-button>
                <div class="rv-icon-24 rv-group-toggle-icon">
                    <md-icon
                        class="md-toggle-icon"
                        ng-class="{ 'rv-toggled' : self.isShowDescription === true }"
                        md-svg-src="hardware:keyboard_arrow_down">
                    </md-icon>
                </div>
                <h3>{{ 'filter.setting.label.description' | translate }}</h3>
            </div>
            <div ng-show="self.isShowDescription">
                <span class="rv-filter-desc-main">{{ self.description }}</span>
                <ul class="rv-filter-desc-column">{{ 'filter.setting.label.fields' | translate }}
                    <li ng-repeat="column in self.columns" ng-if="column.description">{{ column.title }} ({{ column.data}}): {{ column.description}}</li>
                </ul>
            </div>

            <ul>
                <li>
                    <span class="rv-filter-setting-reorder"></span>
                    <span class="rv-filter-setting-name md-subhead">{{ 'filter.settings.label.name' | translate }}</span>
                    <span class="rv-filter-setting-item md-subhead">{{ 'filter.settings.label.filter' | translate }}</span>

                    <button class="rv-filter-setting-sort md-subhead rv-icon-16" ng-click="self.sortAll()">
                        {{ 'filter.settings.label.sort' | translate }}
                        <md-icon md-svg-src="navigation:arrow_downward" ng-show="self.sortStatus() === 'desc'"></md-icon>
                        <md-icon md-svg-src="navigation:arrow_upward" ng-show="self.sortStatus() === 'asc'"></md-icon>
                        <md-icon md-svg-src="content:remove" ng-show="self.sortStatus() === 'none'"></md-icon>
                    </button>

                    <button class="rv-filter-setting-display md-subhead rv-icon-16" ng-click="self.displayAll()">
                        {{ 'filter.settings.label.show' | translate }}
                        <md-icon md-svg-src="toggle:{{ self.displayStatus() === true ?
                            'check_box' :
                            (!self.displayStatus() ? 'check_box_outline_blank' : 'indeterminate_check_box') }}" >
                        </md-icon>
                    </button>

                </li>
                <!--only create the element when columns is set. If not, the dragula directive fired and scope is not set -->
                <ul class="rv-filter-list"
                    rv-dragula="table-bag" rv-dragula-options="dragulaOptions" rv-dragula-model="self.columns"
                    ng-if="self.columns.length">
                    <!-- do not show first 2 columns (symbol and interactive buttons). Uge ng-show because ng-if doesn't work with dragula -->
                    <li ng-repeat="column in self.columns"  data-name="{{ ::column.data }}" ng-show="$index>1" class="rv-filter-setting-item">
                        <div rv-drag-handle ng-if="$index>1">  <!-- no rv-drag-handle so they will not be use when reorder -->
                        <md-button
                                aria-label="{{ filter.settings.reorder | translate }}"
                                class="rv-filter-setting-reorder md-icon-button">
                                    <md-tooltip>{{ 'filter.settings.reorder' | translate }}</md-tooltip>
                                    <md-icon md-svg-src="editor:drag_handle"></md-icon>
                            </md-button>
                        </div>

                        <span class="rv-filter-setting-name">{{ column.title }}</span>

                        <div rv-table-definition class="rv-filter-setting-item" info="column"></div>

                        <div class="rv-filter-setting-sort">
                            <md-button
                                aria-label="{{ filter.settings.sort | translate }}"
                                class="md-icon-button"
                                ng-click="self.sort(column)">
                                    <md-tooltip>{{ 'filter.settings.sort' | translate }}</md-tooltip>
                                    <md-icon md-svg-src="navigation:arrow_downward" ng-show="column.sort === 'desc'"></md-icon>
                                    <md-icon md-svg-src="navigation:arrow_upward" ng-show="column.sort === 'asc'"></md-icon>
                                    <md-icon md-svg-src="content:remove" ng-show="column.sort === 'none'"></md-icon>
                            </md-button>
                        </div>

                        <div class="rv-filter-setting-display">
                            <md-checkbox
                                aria-label="{{ filter.settings.label.show | translate }}"
                                ng-model="column.display"
                                class="md-primary"
                                ng-change="self.display(column)">
                            </md-checkbox>
                        </div>
                    </li>
                </ul>
            </ul>
        </div>

        <div class="rv-settings-controls">
            <md-button
                aria-label="{{ filter.table.reset.tooltip | translate }}"
                class="primary"
                rv-help="table-clear-button"
                ng-click="self.tableService.clearFilters()"
                ng-disabled="(self.tableService.filter.isApplied && !self.tableService.filter.isMapFiltered) || !(self.tableService.isFeatureLayer || self.tableService.isDynamicLayer)">
                {{ 'filter.table.reset.tooltip' | translate }}
            </md-button>

            <md-button
                aria-label="{{ filter.table.apply | translate }}"
                class="rv-table-apply rv-button-square md-raised md-primary md-button"
                rv-help="table-apply-button"
                ng-click="self.tableService.applyFilters()"
                ng-disabled="self.tableService.filter.isApplied || !(self.tableService.isFeatureLayer || self.tableService.isDynamicLayer)">
                {{ 'filter.table.apply' | translate }}
            </md-button>
        </div>
    </div>
</rv-content-pane>
