<div class="rv-subsection rv-hide-animate">
    <div class="rv-subheader">
        <h4 class="md-subhead">{{ self.item.requester.name }}</h4>
        <span class="md-caption">{{ self.item.requester.caption }}</span>
    </div>
    <div class="rv-subcontent" ng-class="{ 'rv-hide': self.isHidden }">


        <!-- Feature Key-Value list presentation  -->
        <!-- TODO: add translations -->
        <h5 ng-if="self.item.data.length === 0">
            Nothing found</h5>

        <ul class="rv-list rv-records-list" ng-if="self.item.data.length !== 0">
            <li ng-repeat="item in self.item.data">
                <rv-details-record item="item" requester="self.item.requester"></rv-details-record>
                <div class="rv-shadow"></div>
            </li>
        </ul>
        <md-divider></md-divider>

        <!--div ng-if="self.item.requester.format === 'EsriFeature'">
            <h5 class="rv-sub-subhead" ng-repeat-start="item in self.item.data">{{ item.name }}</h5>

            <ul ng-repeat-end class="rv-details-zebra-list">
                <li ng-repeat="keyval in item.data">
                    <div class="rv-details-attrib-key">{{ keyval.key }}</div>
                    <div class="rv-details-attrib-value">{{ keyval.value }}</div>
                </li>
            </ul>
        </div>

        <!-- Plain text presentation  -->
        <!--div ng-if="self.item.requester.format === 'Text'">
            <pre>{{ self.item.data[0] }}</pre>
        </div>

        <!-- Raw HTML presentation  -->
        <!--div ng-if="self.item.requester.format === 'HTML'" ng-bind-html="self.item.data[0]"></div-->
    </div>
</div>
