<!--
Shows details for a feature. Allows user to switch between layers that have results,
and collates multiple hits per layer into one view

WARNING be sure to change the detail content display logic in both blocks (single view and list view)
-->
<rv-content-pane
    close-panel="self.closeDetails()"
    static-content="true"
    floating-header="true"
    is-loading="self.display.isLoading"
    hide-when-loading="self.display.data.length === 1 || !self.display.data">

    <!-- TODO refactor file so that inner logic of both single case and multi case are in one spot, avoiding duplicate data  -->
    <!-- TODO move inner detail content generation elsewhere, then inject into this structure. Generating here involves a
         DOM operation for every element created -->

    <!-- this handles the case of only one layer returning results. hides the side selector  -->
    <div class="rv-details" ng-if="self.display.data.length === 1">
        <md-content class="rv-details-data rv-content" rv-detect-scrollbar>
            <div class="rv-subsection">
                <div class="rv-subheader">
                    <h4 class="md-subhead">{{ self.display.data[0].requester.name }}</h4>
                </div>

                <div class="rv-subcontent">

                    <!-- Feature Key-Value list presentation  -->
                    <div ng-if="self.display.data[0].requester.format === 'EsriFeature'">
                        <h5 class="rv-sub-subhead" ng-repeat-start="item in self.display.data[0].data">{{ item.name }}</h5>

                        <ul ng-repeat-end class="rv-details-zebra-list">
                            <li ng-repeat="keyval in item.data">
                                <div class="rv-details-attrib-key">{{ keyval.key }}</div>
                                <div class="rv-details-attrib-value">{{ keyval.value }}</div>
                            </li>
                        </ul>
                    </div>

                    <!-- Plain text presentation  -->
                    <div ng-if="self.display.data[0].requester.format === 'Text'">
                        <h5 class="rv-sub-subhead" ng-repeat-start="item in self.display.data[0].data">{{ item.name }}</h5>

                        <p ng-repeat-end ng-repeat="paragraph in item.data">
                            {{ paragraph }}
                        </p>
                    </div>

                </div>

            </div>
        </md-content>
    </div>

    <!-- this handles the case of multiple layers returning results. shows the side selector  -->
    <div class="rv-details rv-multiple" ng-if="self.display.data.length > 1">
        <!-- the detail content  -->
        <md-content class="rv-details-data rv-content" rv-detect-scrollbar>
            <div class="rv-subsection rv-hide-animate">
                <div class="rv-subheader">
                    <h4 class="md-subhead">{{ self.selectedItem.requester.name }}</h4>
                </div>

                <div
                    class="rv-subcontent"
                    ng-class="{ 'rv-hide': (self.display.data.length > 1 && self.selectedItem.isLoading) || !self.display.data }">
                    <!-- Feature Key-Value list presentation  -->
                    <div ng-if="self.selectedItem.requester.format === 'EsriFeature'">
                        <h5 class="rv-sub-subhead" ng-repeat-start="item in self.selectedItem.data">{{ item.name }}</h5>

                        <ul ng-repeat-end class="rv-details-zebra-list">
                            <li ng-repeat="keyval in item.data">
                                <div class="rv-details-attrib-key">{{ keyval.key }}</div>
                                <div class="rv-details-attrib-value">{{ keyval.value }}</div>
                            </li>
                        </ul>
                    </div>

                    <!-- Plain text presentation  -->
                    <div ng-if="self.selectedItem.requester.format === 'Text'">
                        <h5 class="rv-sub-subhead" ng-repeat-start="item in self.selectedItem.data">{{ item.name }}</h5>

                        <p ng-repeat-end ng-repeat="paragraph in item.data">
                            {{ paragraph }}
                        </p>
                    </div>
                </div>

            </div>
        </md-content>

        <!-- the side selector  -->
        <div
            class="rv-details-layer-list"
            ng-mouseenter="self.onEnter()"
            ng-mouseleave="self.onLeave()"
            ng-show="self.display.data.length > 1">

            <ul class="rv-list">
                <li
                    ng-repeat="item in self.display.data"
                    ng-class="{'rv-selected': item === self.selectedItem }"
                    class="rv-details-layer-list-item">

                    <md-button aria-label='point details' class="rv-button-square rv-details-layer-button" ng-click="self.selectItem(item)"></md-button>
                    <rv-layer-item-symbology symbology="item.requester.symbology"></rv-layer-item-symbology>
                    <md-progress-circular md-diameter="48" class="md-primary" md-mode="indeterminate" ng-if="item.isLoading"></md-progress-circular>
                    <span class="rv-details-layer-name">{{ item.requester.name }}</span>

                </li>
            </ul>

        </div>
    </div>

</rv-content-pane>
