<div class="rv-subsection rv-hide-animate">

    <div
        class="rv-subcontent rv-{{ self.item.requester.proxy.layerType }}"
        ng-class="{ 'rv-hide': self.isHidden }"
        ng-switch on="self.item.requester.proxy.layerType">

        <p class="rv-nothing" ng-if="self.item.data.length === 0" translate>details.label.noresult</p>

        <!-- Feature Key-Value list presentation  -->
        <ul class="rv-records-list" ng-switch-when="esriFeature">
            <li ng-repeat="item in self.item.data">
                <rv-details-record-esrifeature
                    item="item"
                    solorecord="self.item.data.length === 1"
                    requester="self.item.requester"></rv-details-record-esrifeature>
            </li>
        </ul>

        <!-- Plain text presentation  -->
        <div class="rv-details-text" ng-switch-when="Text" ng-bind-html="self.item.data[0] | autolink"></div>

        <!-- Raw HTML presentation  -->
        <rv-svg class="rv-details-html" ng-switch-when="HTML" src="self.item.data[0]" once="false"></rv-svg>

        <md-divider></md-divider>
    </div>
</div>