<rv-content-pane
    close-panel="self.closeDetails()"
    static-content="true"
    title-style="title"
    title-value="Point Information"
    is-loading="self.display.isLoading"
    hide-when-loading="self.display.data.length === 1">
    <div class="rv-details" ng-class="{ 'rv-multiple': self.display.data.length > 1 }">
        <md-content class="rv-details-data rv-content">
            <div class="rv-subsection" ng-hide="self.display.data.length > 1 && self.selectedItem.isLoading">
                <div class="rv-subheader">
                    <h4 class="md-subhead">{{ self.selectedItem.requester }}</h4>
                </div>

                <div class="rv-subcontent">
                    <h5 class="rv-sub-subhead" ng-repeat-start="item in self.selectedItem.data">{{ item.name }}</h5>

                    <p ng-repeat-end ng-repeat="paragraph in item.data">
                        {{ paragraph }}
                    </p>

                </div>

            </div>
        </md-content>

        <div
            class="rv-details-layer-list"
            ng-mouseenter="self.onEnter()"
            ng-mouseleave="self.onLeave()"
            ng-show="self.display.data.length > 1">

            <ul class="rv-list">
                <li ng-repeat="item in self.display.data">
                    <md-button
                        class="rv-button-square rv-details-layer-item"
                        ng-class="{'rv-selected': item === self.selectedItem }"
                        ng-click="self.selectItem(item)">
                        <div class="rv-symbology-item" ng-class="{ 'rv-progress' : item.isLoading }">
                            <img alt="" class="md-whiteframe-z1" ng-src="http://lorempixel.com/32/32/technics/?{{ $index }}"/>
                            <md-progress-circular md-diameter="48" class="md-primary" md-mode="{{ item.isLoading ? 'indeterminate' : '' }}"></md-progress-circular>
                            <span class="rv-symbology-item-name">{{ item.requester }}</span>
                        </div>
                    </md-button>
                </li>
            </ul>

        </div>
    </div>

</rv-main-panel-content>
