<md-button
    ng-if="::!self.solorecord"
    class="rv-group-body-button rv-button-square"
    ng-focus="self.renderDetails()"
    ng-mouseover="self.renderDetails()"
    ng-click="self.toggleDetails()"></md-button>

<rv-toc-entry-symbology
    symbology="self.item.symbology"></rv-toc-entry-symbology>

<span class="rv-group-name">
    {{ self.item.name }}
</span>

<div class="rv-group-controls">

    <md-button class="md-icon-button rv-icon-20" ng-click="self.zoomToFeature()"
        ng-disabled="!self.requester.layerRec.visible || !self.directLegendEntry.options.visibility.value">
        <md-tooltip md-direction="top">{{ 'filter.tooltip.zoom' | translate }}</md-tooltip>
        <md-icon>zoom_in</md-icon>
    </md-button>

</div>

<div ng-if="::!self.solorecord" class="rv-icon-24 rv-group-toggle-icon">
    <md-icon
        class="md-toggle-icon"
        ng-class="{ 'rv-toggled' : self.item.isExpanded }">
        keyboard_arrow_down</md-icon>
</div>
