.elem {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.dialog-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .rv-content-pane {
        left: 25%;
        top: 25%;
    }
}

.dialog-container:before {
    content: '';
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.dialog {
    background: white;
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    z-index: 1000;
}

#sideMetadata,
#sideSettings {
    .rv-header-controls {
        padding: 0 0 0 0;

        button {
            min-width: 40px;
        }
    }

    @include include-size(rv-sm) {
        left: 0px !important;
        top: 0px !important;
        width: 100% !important;
        height: 100% !important;
        z-index: 100 !important;
        visibility: visible;
        margin: 0 !important;
    }

    @include include-size(rv-md) {
        left: 0px !important;
        top: 0px !important;
        height: auto;
        width: 400px !important;
        z-index: 100 !important;
        visibility: visible;
        margin: 10px !important;
    }

    .rv-header {
        padding-left: 10px;

        .md-title {
            max-width: auto;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            white-space: nowrap;
        }
    }

    .panel-body {
        overflow: auto;
    }

    padding: 0 !important;
    margin-left: 0 !important;
    top: 0px;
    left: 411px;
    width: 350px;
}

#expandMetadata {
    width: 70%;
    height: 80%;
    overflow: auto;
    left: 15%;
    top: 10%;

    .rv-header {
        padding-left: 10px;
    }
}

.panel-contents {
    background-color: #ffffff;
    box-shadow: $whiteframe-shadow-1dp;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    margin: 10px;
    z-index: 14;

    .rv-button-24 {
        overflow: visible;
        line-height: 24px;
        min-height: 24px;
        width: 24px;
        min-width: 24px;

        [md-icon] {
            max-height: 24px;
            max-width: 24px;
        }
    }

    &.mobile-fullscreen {
        @include include-size(rv-sm) {
            width: 100% !important;
            height: 100% !important;
            margin: 0px;
            top: 0px !important;
            left: 0px !important;
        }
    }

    &.tablet-fullscreen {
        @include include-size(rv-md) {
            width: calc(100% - 20px) !important;
            height: calc(100% - 20px) !important;
            margin: 10px;
            top: 0px !important;
            left: 0px !important;
        }
    }
}

.panel-controls {
    padding: 4px 12px 4px 18px;
    height: 48px;
    overflow: hidden;

    .md-icon-button {
        width: 24px;
        height: 32px;
    }

    md-input-container {
        margin: inherit;

        >md-icon {
            top: auto;
        }
    }

    h2 {
        position: absolute;
        top: -5px;
        font-weight: normal;
        display: inline;
        vertical-align: middle;
    }
}

.separator {
    border-bottom: lightgrey solid 1px;
}

.panel-body {
    padding: 5px 18px;
    height: calc(100% - 46px); // 100% minus the headers
    overflow-y: auto;

    &.ag-theme-material {
        border-top: initial;
        margin: -1px;
        padding: inherit;

        >div:first-child {
            height: 100%;
        }
    }

    .rv-focus-list {
        width: 100%;
        height: 100%;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-top: 1px solid transparent;

        &:focus {
            outline: 0 !important;
        }

        .rv-focus-item {
            &:not(.ag-cell) {
                border: 1px solid transparent;
            }

            &:focus {
                outline: 0 !important;
            }

            &.highlighted {
                background-color: #fafafa;
                border: 1px solid #607d8b;
                outline: initial;
            }
        }

        &.element-focused {
            border: 1px rgba(5, 141, 232, 0.8) solid;
            outline: initial;
        }
    }
}

.btn {
    width: 36px;
    height: 26px;
    margin: 2px;
    background-color: #ffffff;
    border: none;
    outline: none;
    vertical-align: middle;
}

.text-btn {
    width: 36px;
    height: 26px;
    margin: 2px;
    padding: 2px;
    background-color: white;
    border: 2px solid slategrey;
    outline: none;
    color: slategrey;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.text-btn:hover {
    background-color: darkslategray;
    border: 2px solid darkslategray;
    color: white;
    outline: none;
}

.text-btn:click {
    background-color: darkslategray;
    color: white;
    outline: none;
}

.txt {
    width: 20%;
    height: 20%;
}

.hidden {
    visibility: hidden;
}

.divider {
    border-left: 1px solid rgb(146, 167, 187);
    height: 36px;
    margin-left: 10px;
    padding-bottom: 0px;
}

.z {
    display: inline-block;
    padding: 5px;
}
