<!-- rv-trap-focus property is applied here so that focus remains inside the basemap selector (and wraps to the top/bottom as needed).
This prevents focus from being applied to elements outside the basemap selector that are under the overlay, or hidden by the basemap itself (mapnav buttons) -->
<md-sidenav rv-basemap class="rv-basemap-selector md-sidenav-left md-whiteframe-z2" md-component-id="right">
    <rv-content-pane rv-trap-focus>

        <md-button class="md-icon-button black rv-button-32 rv-minimize-button" ng-click="self.close()">
            <md-icon md-svg-src="community:chevron-double-left"></md-icon>
        </md-button>

        <div class="rv-subsection" ng-repeat="tileSchema in self.map.tileSchemas">

            <div class="rv-subheader">
                <h3 class="md-title">{{ tileSchema.name }}</h3>
                <div class="rv-icon-16" ng-show="self.selectedWkid != projection.wkid">
                    <md-icon md-svg-src="action:info" class="rv-basemap-warning"></md-icon>
                    <span class="md-catpion" >{{ 'basemap.refresh.req' | translate }}</span>
                </div>
            </div>

            <div class="rv-subcontent">

                <ul class="rv-list rv-basemap-list">
                    <li class="rv-basemap-list-item" ng-repeat="basemap in self.map.basemaps | filter:{ tileSchema: { id: tileSchema.id } }">
                        <rv-basemap-item basemap="basemap" select="self.selectBasemap(basemap)"></rv-basemap-item>
                    </li>
                </ul>

            </div>

        </div>

    </rv-content-pane>
</md-sidenav>
