<rv-content-pane>

    <div class="rv-subsection" ng-repeat="projection in self.projections">

        <div class="rv-subheader">
            <h3 class="md-title">{{projection.name}} Maps</h3>
            <div class="rv-icon-16" ng-show='self.selectedWkid != projection.wkid'>
                <md-icon md-svg-src="action:info" class="rv-basemap-warning-icon"></md-icon>
                <span class="md-catpion" >Map refresh required</span>
            </div>
        </div>

        <div class="rv-subcontent">

            <ul class='rv-list rv-basemap-list'>
                <li class="rv-basemap-list-item" ng-repeat="basemap in projection.items">
                    <rv-basemap-item basemap='basemap' select='self.select(basemap)'></rv-basemap-item>
                </li>
            </ul>

        </div>

    </div>

</rv-content-pane>
