%arrow {
    position: absolute;
    top: 50%;
    background-color: $divider-color-light;
}

@mixin lightbox {
    .rv-lightbox-dialog {
        background: transparent;
        box-shadow: none;

        .rv-close {
            right: 7px;
            position: absolute;
            top: 2px;
            background-color: $divider-color-light;
        }

        .rv-lightbox-image {
            width: 90%;
            height: auto;
            margin: auto;
        }

        .rv-lightbox-next {
            @extend %arrow;
            right: 0;
        }

        .rv-lightbox-previous {
            @extend %arrow;
            left: 0;
        }
    }
}
