.material-icons.red {
    color: #b33a3a;
}

.menu-category {
    text-transform: none;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.541176);
}

.menu-page a {
    text-transform: none;
    padding-left: 16px;
}
