<md-button
    class="rv-layer-group-body-button rv-button-square"
    ng-click="self.toggleLayerGroup(self.group)"
    rv-help="group-toggle">
</md-button>

<div class="rv-icon-24 rv-layer-group-toggle-icon">
    <md-icon
        class="md-toggle-icon"
        ng-class="{ 'rv-toggled' : self.group.expanded }"
        md-svg-src="hardware:keyboard_arrow_right"></md-icon>
</div>

<span class="rv-layer-group-toggle-name">
    {{ self.group.name }}
</span>

<span flex></span>

{{ self.group.groupType }}

<div class="rv-layer-group-controls" ng-switch on="self.group.groupType">

    <div ng-switch-when="regular">
        <md-menu md-position-mode="target-right target">
            <md-button
                aria-label="{{ 'toc.layer.aria.openData' | translate }}"
                class="md-icon-button rv-button-40"
                ng-click="$mdOpenMenu($event)">
                <md-icon md-svg-src="navigation:more_horiz"></md-icon>
            </md-button>

            <md-menu-content class="rv-menu rv-dense" width="4">
                <rv-toc-entry-control type="menu-item" option="remove" entry="self.group"></rv-toc-entry-control>
            </md-menu-content>
        </md-menu>

        <rv-layer-group-toggle-button name="visibility"></rv-layer-group-toggle-button>
    </div>

    <div ng-switch-when="esriDynamicRoot">
        <rv-layer-group-toggle-button name="visibility"></rv-layer-group-toggle-button>
    </div>

    <div ng-switch-when="esriDynamic">
        <rv-layer-group-toggle-button name="visibility"></rv-layer-group-toggle-button>
    </div>

</div>
