<div class="rv-layer-item-icon">
    <img alt="" ng-src="http://lorempixel.com/32/32/?{{ self.layer.id }}"/>
</div>
<div class="rv-layer-item-content">
    <div class="rv-layer-item-name">
        {{ self.layer.name }}
    </div>
    <div class="rv-layer-item-flags">
        <rv-layer-item-flag name="type"></rv-layer-item-flag>
        <rv-layer-item-flag name="data"></rv-layer-item-flag>
        <rv-layer-item-flag name="user"></rv-layer-item-flag>
        <rv-layer-item-flag name="scale"></rv-layer-item-flag>
    </div>
</div>

<span flex></span>

<div class="rv-layer-item-toggles" ng-if="self.layer.state === 'error'">
    <rv-layer-item-button name="reload"></rv-layer-item-button>

    <rv-layer-item-button name="remove"></rv-layer-item-button>
</div>

<div class="rv-layer-item-toggles" ng-if="self.layer.state !== 'error'">
    <rv-layer-item-button name="metadata"></rv-layer-item-button>

    <rv-layer-item-button name="settings"></rv-layer-item-button>

    <rv-layer-item-button name="visibility"></rv-layer-item-button>
</div>
<!--md-menu>

    <rv-layer-item-button action="$mdOpenMenu($event)" name="extra"></rv-layer-item-button>

    <md-menu-content width="3">
        <md-menu-item>
            <md-button aria-label="Metadata" ng-click="self.tocService.presets.toggles.metadata.action()">
                <md-icon md-svg-src="action:description"></md-icon>
                Metadata
            </md-button>
        </md-menu-item>
    </md-menu-content>

</md-menu-->
