<rv-content-pane title-style="title" title="Layer Selector">
    <div ng-controller="TocController as self">
        <md-button ng-click="self.toggleMetadata()">Metadata</md-button>
        <md-button ng-click="self.toggleSettings()">Settings</md-button>
        <md-button ng-click="self.toggleFilters()">Filters</md-button>
        <md-button ng-click="self.toggleFiltersFull()">Toggle Filters mode</md-button>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>

        <p>[ layer selector content ]</p>
    </div>

</rv-main-panel-content>
