<rv-content-pane
    title-value="{{ self.config.ui.appBar.enabled ? '' : 'appbar.tooltip.layers' | translate }}"
    title-style="title">

    <div class="rv-toc" ng-keydown="self.tocKeyDownHandler($event)">

        <div layout="row" class="rv-toc-tools">

            <rv-loader-menu ng-if="self.config.ui.legend.allowImport"></rv-loader-menu>

            <md-button
                aria-label="{{ 'toc.menu.reorder.title' | translate }}"
                class="md-icon-button primary rv-icon-20"
                ng-if="self.config.ui.legend.reorderable"
                ng-class="{ selected: self.isReorder }"
                ng-click="self.toggleReorderMode()">
                <md-tooltip>{{ 'toc.menu.reorder.title' | translate }}</md-tooltip>
                <md-icon md-svg-src="action:swap_vert"></md-icon>
            </md-button>

            <h4 class="md-subhead" ng-if="self.isReorder">{{ 'toc.menu.reorder.title' | translate }}</h4>

            <span flex></span>

            <md-button
                aria-label="{{ 'toc.menu.reorder.close' | translate }}"
                class="rv-close md-icon-button black rv-icon-20"
                ng-click="self.toggleReorderMode(false)"
                ng-if="self.isReorder">
                <md-tooltip>{{ 'toc.menu.reorder.close' | translate }}</md-tooltip>
                <md-icon md-svg-src="navigation:close"></md-icon>
            </md-button>

            <rv-toc-expand-menu ng-if="!self.isReorder"></rv-toc-expand-menu>
            <rv-toc-visibility-menu ng-if="!self.isReorder"></rv-toc-visibility-menu>

        </div>

        <ul class="rv-legend-list rv-legend-root rv-legend-level-0" dx-start-with="self.config.map.legendBlocks"
            rv-dragula="toc-bag" rv-dragula-options="dragulaOptions" rv-dragula-model="self.config.map.legendBlocks.entries">

            <!-- filter: { controlled: false } will filter out layer controled by a dynamic layer which is rendered as a group -->
            <li ng-repeat="block in $dxPrior.entries | filter: { controlled: false } track by block.id"
                class="rv-toggle-slide"
                data-sort-group="{{ ::block.sortGroup }}"
                legend-block-id="{{ block.id }}">

                <!-- legend block -->
                <rv-legend-block
                    class="rv-legend-{{ block.template }}"
                    block="block"
                    is-reorder="self.isReorder"
                    ng-class="{ 'rv-selected': block.isSelected }"></rv-legend-block>


                <!-- regular group children list -->
                <ul
                    class="rv-legend-list rv-toggle-slide rv-legend-level-{{ ::$dxLevel }}"
                    ng-if-start="block.blockType === 'group' && !block.collapsed"
                    dx-connect="block"
                    ng-show="block.expanded && !self.isReorder"></ul>

                <div class="rv-shadow" ng-if-end></div>

                <!-- collapsed group children list where the group block is not shown and items do not have extra indentation -->
                <ul
                    class="rv-legend-list rv-group-collapsed"
                    ng-if="block.blockType === 'group' && block.collapsed"
                    dx-connect="block"></ul>

                <!-- visibility set children list -->
                <ul
                    class="rv-legend-list rv-legend-set"
                    ng-class="{ 'rv-legend-set-highlight': block.highlight }"
                    ng-if="block.blockType === 'set'"
                    dx-connect="block"></ul>

                <md-progress-linear class="rv-progress-bottom" md-mode="indeterminate" ng-show="block.isRefreshing"></md-progress-linear>

            </li>
        </ul>

        <md-divider class="rv-layer-list-divider"></md-divider>

    </div>
</rv-content-pane>
