// adjust the icons path
$icons-path: '~ag-grid-community/src/styles/material-icons/';

// Set the colors
$primary-color: #607d8b;
$accent-color: #00bcd4;

// Import the ag-grid styles
@import 'ag-grid-community/dist/styles/ag-grid';
// Import the ag-grid material theme
@import 'ag-grid-community/src/styles/ag-theme-material';

.panel-body {
    padding: 0 8px 8px !important;
}

md-datepicker>div {
    // override this so ag-grid wont add a border to the div
    border-bottom: none !important;
}

.custom-header-label {
    text-transform: none;
}

.reorder-icons {
    position: absolute;
    top: 0px;
    right: 0px;
}

.enhanced-table-details,
.enhanced-table-zoom {
    margin: 0 !important;
}

.reorder-button {
    margin: 0 !important;
    width: 18px !important;
    height: 18px !important;
    min-height: 0 !important;
    border-radius: 0 !important;

    .md-ripple {
        border-radius: 0 !important;
    }
}

.rv-record-count {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 11px;
}

.md-title {
    display: block !important;
}

.table-control {
    display: inherit;

    .md-icon-button {
        width: 40px !important;
        height: 40px !important;
        margin: 0 !important;
    }
}

.mobile-table-control {
    display: none;
}

.rv-small {

    .table-control {
        display: none !important;
    }

    .mobile-table-control {
        display: inherit;

        .panel-controls {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    .mobile-table-control .table-control {
        display: flex !important;
    }
}

.mobile-table-menu {
    display: flex;
    align-items: center;
    padding: 0px 12px 0px 16px;
}

.md-open-menu-container {
    max-height: 90%;
}

.rv-table-search {

    input {
        flex-basis: 163px;
        -ms-flex-preferred-size: 163px !important;
        min-width: 0px;
    }

    md-icon {
        margin: auto 8px auto 8px;
    }

    .rv-button-divider {
        margin: auto 10px auto 10px;
    }
}
