/* The common directory is reserved for Sass code that doesn't cause Sass to actually output CSS.
Things like mixin declarations, functions, and variables. */

// import all common files

@import "_palette.scss";

$font-family: Roboto, 'Helvetica Neue', sans-serif !default;
$font-size:   rem(1.0);

$viewport-gutter: rem(1.0);

$toolbar-height: $icon-button-height + rem(0.8);
$toolbar-width: rem(40);

$side-panel-width: rem(35);

//$toolbar-z-index: 10;

// Map navigation
$map-nav-button-width: 32px;
$map-nav-button-height: 32px;

$fade-in-out-duration: 130ms;
