/* The common directory is reserved for Sass code that doesn't cause Sass to actually output CSS.
Things like mixin declarations, functions, and variables. */

// import all common files

@import "_palette.scss";

$font-family: Roboto, 'Helvetica Neue', sans-serif !default;
$font-size:   10px;

$viewport-gutter: 10px;

$toolbar-height: 48px;
$toolbar-width: 350px;

$side-panel-width: 300px;

//$toolbar-z-index: 10;

// Map navigation
$map-nav-button-width: 32px;
$map-nav-button-height: 32px;
$map-nav-button-font-size: 16px;
