/* The common directory is reserved for Sass code that doesn't cause Sass to actually output CSS.
Things like mixin declarations, functions, and variables. */

// import all common files

@import "_palette.scss";

$font-family: Roboto, 'Helvetica Neue', sans-serif !default;
$font-size:   10px;

$viewport-gutter: 10px;

$toolbar-height: 48px;
$toolbar-width: 350px;

//$toolbar-z-index: 10;
