@import "../../../../lib/include-media/dist/_include-media.scss";

$breakpoints: (small: 480px, medium: 840px);

$rv-sm: "<=small";
$rv-md: ">small", "<=medium";
$rv-lg: ">medium";
$rv-gt-sm: ">small";
$rv-lt-lg: "<=medium";

@mixin show-element($class, $query) {
    .#{$class} {
        display: none !important;

        @include media($query...) {
            display: block !important;
        }
    }
}

@include show-element("rv-gt-sm", $rv-gt-sm);
@include show-element("rv-lt-lg", $rv-lt-lg);
@include show-element("rv-lg", $rv-lg);