<div class='mapnav' ng-controller='MapNavigationController as self' rv-morph="mapnav">
    <ul class='rv-button-group hover rv-whiteframe-z2' ng-switch on="self.service.config.zoom">

        <li ng-switch-when="buttons">
            <rv-mapnav-button class="bold" control="self.service.controls.zoom.inButton"></rv-mapnav-button>
        </li>
        <li ng-switch-when="all">
            <rv-mapnav-button class="bold" control="self.service.controls.zoom.inButton"></rv-mapnav-button>
        </li>

        <li ng-switch-when="slider">
            <div>zoom slider only</div>
        </li>
        <li ng-switch-when="all">
            <div>zoom slider</div>
        </li>

        <li ng-switch-when="buttons"></li>
        <md-divider class="md-default-theme"></md-divider>

        <li ng-switch-when="buttons">
            <rv-mapnav-button class="bold" control="self.service.controls.zoom.outButton"></rv-mapnav-button>
        </li>
        <li ng-switch-when="all">
            <rv-mapnav-button class="bold" control="self.service.controls.zoom.outButton"></rv-mapnav-button>
        </li>
    </ul>

    <ul class='rv-button-group hover rv-whiteframe-z2'>
        <!-- loop through extra controls specified by the nav service and create them -->
        <li ng-repeat="extraControl in self.service.config.extra">
            <rv-mapnav-button control="self.service.controls.extra[extraControl]"></rv-mapnav-button>
            <!-- this will insert divider after every element except the last one -->
            <md-divider ng-if="!$last"></md-divider>
        </li>
    </ul>
</div>
