<div class='rv-mapnav-content'>
    <ul class='rv-button-group hover rv-whiteframe-z2' ng-switch on="self.config.zoom">

        <li ng-switch-when="buttons">
            <rv-mapnav-button class="bold" name="zoomIn"></rv-mapnav-button>
        </li>
        <li ng-switch-when="all">
            <rv-mapnav-button class="bold" name="zoomIn"></rv-mapnav-button>
        </li>

        <li ng-switch-when="slider">
            <div>zoom slider only</div>
        </li>
        <li ng-switch-when="all">
            <div>zoom slider</div>
        </li>

        <li ng-switch-when="buttons"></li>
        <md-divider class="md-default-theme"></md-divider>

        <li ng-switch-when="buttons">
            <rv-mapnav-button class="bold" name="zoomOut"></rv-mapnav-button>
        </li>
        <li ng-switch-when="all">
            <rv-mapnav-button class="bold" name="zoomOut"></rv-mapnav-button>
        </li>
    </ul>

    <ul class='rv-button-group hover rv-whiteframe-z2'>
        <!-- loop through extra controls specified by the nav service and create them -->
        <li ng-repeat="extra in self.config.extra">
            <rv-mapnav-button name="{{ extra }}"></rv-mapnav-button>
            <!-- this will insert divider after every element except the last one -->
            <md-divider ng-if="!$last"></md-divider>
        </li>
    </ul>
</div>
