<div class="rv-subsection" ng-if="::self.checkAvailableControls('visibility|opacity|boundingBox')">
    <div class="rv-subheader">
        <h4 translate class="md-subhead">settings.label.display</h4>
    </div>

    <div class="rv-subcontent">

        <md-divider class="rv-settings-divider"></md-divider>
        <rv-legend-control block="self.block" template="switch" name="visibility"></rv-legend-control>
        <md-divider class="rv-settings-divider"></md-divider>
        <rv-legend-control block="self.block" template="slider" name="opacity" value-parent-block="self.opacityValueParentBlock"></rv-legend-control>
        <md-divider class="rv-settings-divider"></md-divider>
        <rv-legend-control block="self.block" template="switch" name="boundingBox"></rv-legend-control>
        <md-divider class="rv-settings-divider"></md-divider>

    </div>

</div>

<div class="rv-subsection" ng-if="::self.checkAvailableControls('query|snapshot')">
    <div class="rv-subheader">
        <h4 translate class="md-subhead">settings.label.data</h4>
    </div>
    <div class="rv-subcontent">

        <md-divider class="rv-settings-divider"></md-divider>
        <rv-legend-control block="self.block" template="switch" name="query"></rv-legend-control>
        <md-divider class="rv-settings-divider"></md-divider>
        <rv-legend-control block="self.block" template="toggle-button" name="snapshot"></rv-legend-control>
        <md-divider class="rv-settings-divider"></md-divider>

    </div>
</div>

<div class="rv-subsection" ng-if="::!self.isFileLayer()">
    <div class="rv-subheader">
        <h4 translate class="md-subhead">settings.label.interval</h4>
    </div>
    <div class="rv-subcontent">

        <md-divider class="rv-settings-divider"></md-divider>
        <rv-legend-control block="self.block" template="input" name="interval" value-parent-block="self.refreshValueParentBlock"></rv-legend-control>
        <md-divider class="rv-settings-divider"></md-divider>

    </div>
</div>

<div class="rv-subsection" ng-if="::(self.checkWMS() && !self.checkDisabledControls('styles') && self.checkStylesLength())">
    <div class="rv-subheader">
        <h4 translate class="md-subhead">settings.label.styles</h4>
    </div>
    <div class="rv-subcontent">

        <md-divider class="rv-settings-divider"></md-divider>
        <rv-legend-control block="self.block" template="select" name="styles"></rv-legend-control>
        <md-divider class="rv-settings-divider"></md-divider>

    </div>
</div>

<div class="rv-subsection">
    <div class="rv-subcontent">
        <!--span translate>settings.reload.description</span-->
        <rv-legend-control block="self.block" template="body" name="reload"></rv-legend-control>
    </div>
</div>
