<rv-content-pane title-style="title" title-value="Settings">
    <div>

        <div class="rv-subsection">
            <div class="rv-subheader">
                <h5 class="md-subhead">Display</h5>
                <md-divider></md-divider>
            </div>

            <div class="rv-subcontent">

                <md-checkbox aria-label="Bounding Box" class="md-primary rv-checkbox" ng-model="isChecked">
                    Bounding Box
                </md-checkbox>

                <div class="rv-slider-setting">
                    <span class="rv-slider-setting-label">Opacity</span>
                    <div class="rv-slider-setting-body">
                        <md-slider class="md-primary" max="100" min="0" ng-model="opacityValue"></md-slider>
                        <span class="rv-slider-setting-indicator">{{opacityValue}}%</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="rv-subsection">

            <div class="rv-subheader">
                <h5 class="md-subhead">Data</h5>
                <md-divider></md-divider>
            </div>
            <div class="rv-subcontent">

                <div class="rv-toggle-setting">
                    <span>Snapshot mode</span>
                    <span flex></span>
                    <md-button class="rv-button-square">Enable</md-button>
                </div>
            </div>

        </div>

    </div>

</rv-content-pane>
