<div class="main-appbar rv-whiteframe-z2">
    <md-button
        translate
        translate-attr-aria-label="appbar.aria.menu"
        class="md-icon-button black"
        rv-help="sidenav-button"
        ng-click="self.layoutService.sidenav.open()">
        <md-tooltip>{{'appbar.tooltip.menu' | translate}}</md-tooltip>
        <md-icon md-svg-src="navigation:menu"></md-icon>
    </md-button>

    <!-- TODO: find a better way to conditionally show all these icons and names -->

    <div class="rv-appbar-title">
        <!-- ng-show="!self.stateManager.state.mainGeosearch.active"> -->
        <h2 class="md-headline" translate ng-if="self.stateManager.state.mainToc.active">appbar.tooltip.layers</h2>
        <h2 class="md-headline" translate ng-if="self.stateManager.state.mainLoaderFile.active">import.file.title</h2>
        <h2 class="md-headline" translate ng-if="self.stateManager.state.mainLoaderService.active">Import Service</h2>
        <h2 class="md-headline" translate ng-if="self.stateManager.state.mainDetails.active">appbar.tooltip.pointInfo</h2>
    </div>

    <rv-geosearch></rv-geosearch>

    <md-button
        translate
        translate-attr-aria-label="nav.tooltip.basemap"
        class="md-icon-button primary"
        ng-click="self.openBasemapSelector()"
        ng-show="self.stateManager.state.mainToc.active">
        <md-tooltip>{{ 'nav.tooltip.basemap' | translate }}</md-tooltip>
        <md-icon md-svg-src="maps:map"></md-icon>
    </md-button>
    <span
        class="rv-appbar-divider"
        ng-show="!self.stateManager.state.mainGeosearch.active">
    </span>

    <!-- TODO: need a better way to determine when to include layer loader menu -->
    <rv-loader-menu ng-if="self.stateManager.state.mainToc.active || self.stateManager.state.mainLoaderFile.active || self.stateManager.state.mainLoaderService.active"></rv-loader-menu>

    <md-button
        translate
        translate-attr-aria-label="appbar.aria.pointInfo"
        class="md-icon-button primary"
        rv-help="details-button"
        ng-class="{ selected: self.stateManager.state.mainDetails.active }"
        ng-click="self.toggleDetails()"
        ng-show="self.stateManager.display.details.requestId && !self.stateManager.state.mainGeosearch.active">
        <md-tooltip>{{'appbar.tooltip.pointInfo' | translate}}</md-tooltip>
        <md-icon md-svg-src="maps:place"></md-icon>
    </md-button>

    <md-button
        translate
        translate-attr-aria-label="appbar.aria.layers"
        class="md-icon-button primary"
        rv-help="toc-button"
        ng-class="{ selected: self.stateManager.state.mainToc.active }"
        ng-show="!self.stateManager.state.mainGeosearch.active"
        ng-click="self.toggleToc()">
        <md-tooltip>{{'appbar.tooltip.layers' | translate}}</md-tooltip>
        <md-icon md-svg-src="maps:layers"></md-icon>
    </md-button>

    <!-- hiding tools section for now; TODO: re-enable when we have tools -->
    <!--md-button
        translate
        translate-attr-aria-label="appbar.aria.tools"
        class="md-icon-button primary"
        rv-help="tool-button"
        ng-class="{ selected: self.stateManager.state.mainToolbox.active }"
        ng-click="self.toggleToolbox()">
        <md-tooltip>{{'appbar.tooltip.tools' | translate}}</md-tooltip>
        <md-icon md-svg-src="content:create"></md-icon>
    </md-button-->
</div>

<div class="main-appbar rv-whiteframe-z2"
    ng-show="self.stateManager.state.mainGeosearch.active">
    <rv-geosearch-filters></rv-geosearch-filters>
</div>
