<md-toolbar class='main-appbar md-whiteframe-z2' ng-controller="AppbarController as self">
    <div class="md-toolbar-tools">
        <md-button aria-label="Open Sidenav" class="md-icon-button"
            ng-click="self.layoutService.sidenav.open()">
            <md-tooltip>Menu</md-tooltip>
            <md-icon>menu</md-icon>
        </md-button>
        
        <span flex></span>
        <md-button aria-label="Sets" class="md-icon-button" ng-click="self.toggleSets()">
            <md-tooltip>Layers</md-tooltip>
            <md-icon>layers</md-icon>
        </md-button>
        <md-button aria-label="Tools" class="md-icon-button" ng-click="self.toggleTools()">
            <md-tooltip>Tools</md-tooltip>
            <md-icon>create</md-icon>
        </md-button>
    </div>
</md-toolbar>
