<div class="main-appbar rv-whiteframe-z2" ng-controller="AppbarController as self">
    <div class="tools layout">

        <md-button aria-label="Open Sidenav" class="md-icon-button black"
            ng-click="self.layoutService.sidenav.open()">
            <md-tooltip>Menu</md-tooltip>
            <md-icon class="sidenav-icon">menu</md-icon>
        </md-button>

        <span flex></span>
        <md-button aria-label="Sets" class="md-icon-button primary"
            ng-class="{ selected: self.tocSelected }" ng-click="self.toggleToc()">
            <md-tooltip>Layers</md-tooltip>
            <md-icon>layers</md-icon>
        </md-button>
        <md-button aria-label="Tools" class="md-icon-button primary"
            ng-class="{ selected: self.toolboxSelected }" ng-click="self.toggleToolbox()">
            <md-tooltip>Tools</md-tooltip>
            <md-icon>create</md-icon>
        </md-button>
    </div>
</div>

<!--<md-toolbar class='main-appbar rv-whiteframe-z2' ng-controller="AppbarController as self">
    <div class="md-toolbar-tools">
        <md-button aria-label="Open Sidenav" class="md-icon-button"
            ng-click="self.layoutService.sidenav.open()">
            <md-tooltip>Menu</md-tooltip>
            <md-icon>menu</md-icon>
        </md-button>

        <span flex></span>
        <md-button aria-label="Sets" class="md-icon-button" ng-click="self.toggleSets()">
            <md-tooltip>Layers</md-tooltip>
            <md-icon>layers</md-icon>
        </md-button>
        <md-button aria-label="Tools" class="md-icon-button" ng-click="self.toggleTools()">
            <md-tooltip>Tools</md-tooltip>
            <md-icon>create</md-icon>
        </md-button>
    </div>
</md-toolbar>-->
