<div class="shell layout layout-fill" ng-controller="ShellController as self" state="{{self.$state.current.name}}">
    <ng-include src="'app/ui/sidenav/sidenav.html'"></ng-include>

    <div class="inner-shell" layout="column">
        <div class="loading-splash" layout layout-align="center center" ng-hide="!self.isLoading">
            <span>Loading</span>
        </div>

        <div ng-class="{ active: self.active() }" ui-view='appbarPlug'></div>

        <div ng-class="{ active: self.active() }" ui-view='panelPlug'></div>
        <div ng-class="{ active: self.active() }" ui-view='sidePanelPlug'></div>

        <div ng-class="{ active: self.active() }" ui-view='detailsPlug'></div>

        <div ng-class="{ active: self.active() }" ui-view='geoSearchPlug'></div>

        <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="display: none;">I'm
            {{self.config.title}}
            and
            {{ 'page.title' | translate }}</md-whiteframe>

    </div>

</div>
