<md-button
    aria-label="{{ self.isFunction(self.template.label) ? self.template.label(self.control.value) : self.template.label | translate}}"
    class="md-icon-button rv-icon-20"
    ng-class="{ selected: self.control.selected }"
    ng-click="self.action(self.entry)"
    ng-disabled="!self.control.enabled"
    rv-help="{{ self.option }}">

    <md-tooltip ng-if="self.template.tooltip" md-direction="top">{{ self.isFunction(self.template.tooltip) ? self.template.tooltip(self.control.value) : self.template.tooltip | translate }}</md-tooltip>
    <!-- the terrible hack below (testing for .call) is due to angular not having typeof available in $Parse
         https://github.com/angular/angular.js/pull/6886
    -->
    <md-icon md-svg-src="{{ self.isFunction(self.template.icon) ? self.template.icon(self.control.value) : self.template.icon }}"></md-icon>

</md-button>
