<div
    class="rv-layer-item-icon "
    ng-class='[{ "rv-expanded" : self.expanded }, { "rv-compound" : self.symbology.length > 1}, self.type]'>

    <div class="rv-symbology-item" ng-repeat="symbol in self.symbology | rvReverse">
        <rv-svg class="rv-symbology-graphic" src="symbol.svgcode"></rv-svg>
        <div class="rv-symbology-label-container">
            <span class="rv-symbology-label">{{ symbol.name }}</span>
        </div>
    </div>

    <md-button
        class="rv-symbology-trigger rv-button-32 rv-icon-24 md-icon-button"
        ng-if="self.isInteractive"
        ng-click="self.toggleSymbology()"
        ng-focus="self.wiggleSymbology(true)"
        ng-blur="self.wiggleSymbology(false)"
        ng-mouseover="self.wiggleSymbology(true)"
        ng-mouseout="self.wiggleSymbology(false)">
        <md-tooltip md-direction="top">{{ self.expanded ? 'toc.layer.label.symbologyHide' : 'toc.layer.label.symbologyShow' | translate }}</md-tooltip>
        <md-icon>close</md-icon>
    </md-button>

</div>
