<md-menu md-position-mode="target target">

    <!-- TODO: add translate filters -->

    <md-button
        aria-label="{{ 'toc.menu.expand.title' | translate }}"
        class="md-icon-button primary rv-icon-20"
        ng-click="$mdOpenMenu($event)"
        ng-disabled="self.disabled">
        <md-tooltip>{{ 'toc.menu.expand.title' | translate }}</md-tooltip>
        <md-icon md-svg-src="hardware:keyboard_arrow_down"></md-icon>
    </md-button>

    <md-menu-content rv-trap-focus="{{ ::self.appID }}" class="rv-menu rv-dense" width="4">
        <md-menu-item>
            <md-button
                ng-click="self.expandAllLegendEntries()"
                ng-disabled="self.isAllLegendEntriesExpanded()"
                aria-label="{{ 'toc.menu.expand.allon' | translate }}">
                <md-icon md-svg-icon="hardware:keyboard_arrow_down"></md-icon>
                {{ 'toc.menu.expand.allon' | translate }}
            </md-button>
        </md-menu-item>

        <md-menu-item>
            <md-button
                ng-click="self.collapseAllLegendEntries()"
                ng-disabled="self.isAllLegendEntriesCollapsed()"
                aria-label="{{ 'toc.menu.expand.alloff' | translate }}">
                <md-icon md-svg-icon="hardware:keyboard_arrow_up"></md-icon>
                {{ 'toc.menu.expand.alloff' | translate }}
            </md-button>
        </md-menu-item>

    </md-menu-content>
</md-menu>
