<md-button
    class="rv-layer-group-body-button rv-button-square"
    ng-click="self.defaultAction(self.entry)"
    rv-help="group-toggle"></md-button>

<div class="rv-icon-24 rv-layer-group-toggle-icon">
    <md-icon
        class="md-toggle-icon"
        ng-class="{ 'rv-toggled' : self.entry.expanded }"
        md-svg-src="hardware:keyboard_arrow_right"></md-icon>
</div>

<span class="rv-layer-group-toggle-name">
    {{ self.entry.name }}
</span>

<div class="rv-toc-entry-controls">

    <md-menu md-position-mode="target-right target">
        <md-button
            aria-label="{{ 'toc.layer.aria.openData' | translate }}"
            class="md-icon-button rv-button-40"
            ng-click="$mdOpenMenu($event)">
            <md-icon md-svg-src="navigation:more_horiz"></md-icon>
        </md-button>

        <md-menu-content class="rv-menu rv-dense" width="4">
            <rv-toc-entry-control type="menu-item" option="settings"></rv-toc-entry-control>
            <md-menu-divider></md-menu-divider>
            <rv-toc-entry-control type="menu-item" option="remove"></rv-toc-entry-control>
        </md-menu-content>
    </md-menu>

    <rv-toc-entry-control option="visibility"></rv-toc-entry-control>

</div>
