<div
    class="rv-list-item-body"
    ng-mouseover="self.block.symbologyStack.fannedOut = true"
    ng-mouseleave="self.block.symbologyStack.fannedOut = false">

    <md-tooltip md-delay="self.getTooltipDelay()" md-direction="{{ self.getTooltipDirection() }}">{{ self.block.name }}</md-tooltip>

    <rv-legend-control block="self.block" template="body" name="data"></rv-legend-control>
</div>

<rv-symbology-stack
    description="self.block.description"
    symbology="self.block.symbologyStack"
    container="self.element"></rv-symbology-stack>

<div class="rv-list-item-content">
    <div class="rv-list-item-name"
        rv-truncate-title="self.block.name"
        rv-truncate-title-is-active="self.isNameTruncated">
    </div>

    <div class="rv-list-item-flags">
        <rv-legend-flag block="self.block" name="type"></rv-legend-flag>
        <rv-legend-flag block="self.block" name="data"></rv-legend-flag>
        <rv-legend-flag block="self.block" name="user"></rv-legend-flag>
        <rv-legend-flag block="self.block" name="scale"></rv-legend-flag>
        <rv-legend-flag block="self.block" name="query"></rv-legend-flag>
        <rv-legend-flag block="self.block" name="filter"></rv-legend-flag>
        <rv-legend-flag block="self.block" name="boundingBox"></rv-legend-flag>
    </div>
</div>

<div class="rv-list-item-controls" ng-if="self.isReorder">
    <rv-legend-control rv-drag-handle block="self.block" name="reorder" class="rv-list-item-control rv-stay-visible"></rv-legend-control>
</div>

<div class="rv-list-item-controls" ng-if="!self.isReorder">
    <md-menu md-position-mode="target-right target" class="rv-list-item-control"
        ng-if="::self.hasMenu()">
        <md-button
            aria-label="{{ 'toc.entry.aria.openData' | translate }}"
            class="md-icon-button rv-button-40 rv-icon-20"
            ng-click="$mdOpenMenu($event)">
            <md-icon md-svg-src="navigation:more_horiz"></md-icon>
        </md-button>

        <md-menu-content rv-trap-focus="{{ ::self.appID }}" class="rv-menu rv-dense" width="4">

            <rv-legend-control block="self.block" template="menu" name="metadata"></rv-legend-control>
            <rv-legend-control block="self.block" template="menu" name="settings"></rv-legend-control>
            <rv-legend-control block="self.block" template="menu" name="data"></rv-legend-control>
            <rv-legend-control block="self.block" template="menu" name="symbology"></rv-legend-control>

            <md-menu-divider></md-menu-divider>

            <rv-legend-control block="self.block" template="menu" name="boundary"></rv-legend-control>
            <rv-legend-control block="self.block" template="menu" name="reload"></rv-legend-control>
            <rv-legend-control block="self.block" template="menu" name="remove"></rv-legend-control>

        </md-menu-content>
    </md-menu>

    <!-- `Scale` control is shown only when scale is off and visiblity is true; in all other three cases visibility control is shown -->

    <rv-legend-control ng-if="self.block.inSet && !(self.block.scale.offScale && self.block.visibility)"
        block="self.block" name="visibilityset" class="rv-stay-visible rv-list-item-control"
        ng-mouseenter="self.block.visualParent.highlight = true"
        ng-mouseleave="self.block.visualParent.highlight = false"></rv-legend-control>
    <rv-legend-control ng-if="!self.block.inSet && !(self.block.scale.offScale && self.block.visibility)"
        block="self.block" name="visibilitynode" class="rv-stay-visible rv-list-item-control"></rv-legend-control>

    <rv-legend-control
        ng-if="self.block.scale.offScale && self.block.visibility"
        ng-mouseenter="self.block.inSet ? self.block.visualParent.highlight = true : null"
        ng-mouseleave="self.block.inSet ? self.block.visualParent.highlight = false : null"
        block="self.block" name="scale" class="rv-stay-visible rv-list-item-control"></rv-legend-control>
</div>
