<div
    class="rv-list-item-body">

    <md-tooltip md-delay="self.getTooltipDelay()" md-direction="{{ self.getTooltipDirection() }}">{{ self.block.name }}</md-tooltip>

    <md-button
        ng-if="!self.isReorder"
        class="rv-body-button rv-button-square"
        ng-click="self.block.expanded = !self.block.expanded"
        aria-label="{{ self.block.expanded ? 'toc.label.group.collapse' : 'toc.label.group.expand' | translate }}">
    </md-button>
</div>

<div class="rv-icon-24 rv-list-item-toggle">
    <md-icon class="rv-transform-default"
        ng-class="{ 'rv-rotate--180' : self.block.expanded && !self.isReorder }"
        md-svg-src="hardware:keyboard_arrow_down"></md-icon>
</div>

<div class="rv-list-item-content">
    <div class="rv-list-item-name"
        rv-truncate-title="self.block.name"
        rv-truncate-title-is-active="self.isNameTruncated">
    </div>
</div>

<div class="rv-list-item-controls" ng-if="self.isReorder">
    <rv-legend-control rv-drag-handle block="self.block" name="reorder" class="rv-list-item-control rv-stay-visible"></rv-legend-control>
</div>

<div class="rv-list-item-controls" ng-if="!self.isReorder">
    <md-menu md-position-mode="target-right target" class="rv-list-item-control"
        ng-if="self.intersect(self.block.availableControls, ['metadata', 'settings', 'boundary', 'reload', 'remove']).length > 0">
        <md-button
            aria-label="{{ 'toc.entry.aria.openData' | translate }}"
            class="md-icon-button rv-button-40 rv-icon-20"
            ng-click="$mdOpenMenu($event)">
            <md-icon md-svg-src="navigation:more_horiz"></md-icon>
            <md-tooltip md-direction="top">{{ 'toc.layer.tooltip.options' | translate }}</md-tooltip>
        </md-button>

        <md-menu-content rv-trap-focus="{{ ::self.appID }}" class="rv-menu rv-dense" width="4">

            <rv-legend-control block="self.block" template="menu" name="metadata"></rv-legend-control>
            <rv-legend-control block="self.block" template="menu" name="settings"></rv-legend-control>

            <md-menu-divider></md-menu-divider>

            <rv-legend-control block="self.block" template="menu" name="showall"></rv-legend-control>
            <rv-legend-control block="self.block" template="menu" name="hideall"></rv-legend-control>

            <md-menu-divider></md-menu-divider>

            <rv-legend-control block="self.block" template="menu" name="boundary"></rv-legend-control>
            <rv-legend-control block="self.block" template="menu" name="remove"></rv-legend-control>

        </md-menu-content>
    </md-menu>

    <rv-legend-control ng-if="self.block.inSet" block="self.block" name="visibilityset" class="rv-stay-visible rv-list-item-control"
        ng-mouseenter="self.block.visualParent.highlight = true"
        ng-mouseleave="self.block.visualParent.highlight = false"></rv-legend-control>
    <rv-legend-control ng-if="!self.block.inSet" block="self.block" name="visibilitynode" class="rv-stay-visible rv-list-item-control"></rv-legend-control>

</div>