<div ng-switch="self.block.infoType" class="rv-list-item-content rv-legend-{{ self.block.infoType }}">

    <h3 ng-switch-when="title" class="md-subhead">{{ self.block.content }}</h3>

    <p ng-switch-when="text">{{ self.block.content }}</p>

    <img ng-switch-when="image" ng-src="{{ self.block.content }}" alt="">

    <div ng-switch-when="unboundLayer">
        <rv-symbology-stack
            description="self.block.description"
            symbology="self.block.symbologyStack"
            container="self.element"></rv-symbology-stack>

        <md-tooltip md-delay="self.getTooltipDelay()" md-direction="{{ self.getTooltipDirection() }}">{{ self.block.layerName }}</md-tooltip>

        <div class="rv-list-item-content">
            <div class="rv-list-item-name"
                rv-truncate-title="self.block.layerName"
                rv-truncate-title-is-active="self.isNameTruncated">
            </div>
        </div>

    </div>
</div>