<form name="refreshForm">
    <md-input-container ng-switch="self.block.mainProxyWrapper || '_undefined_'">
        <label>{{ self.uiControl.label | translate }}</label>

        <input ng-switch-when="_undefined_" class="interval-value" type="number" name="interval" min="0" max="100"
            ng-model="self.block._rootProxyWrapper.layerConfig.refreshInterval"
            ng-disabled="self.uiControl.isDynamicChild">
        <input ng-switch-default class="interval-value" type="number" name="interval" min="0" max="100"
            ng-model="self.block.mainProxyWrapper.layerConfig.refreshInterval"
            ng-disabled="self.uiControl.isDynamicChild">

        <md-button
            aria-label="{{ 'settings.label.refreshInterval.close' | translate }}"
            class="rv-close md-icon-button black rv-icon-20"
            ng-click="self.uiControl.clearAndReload"
            ng-disabled="(self.block._rootProxyWrapper ?
                !self.block._rootProxyWrapper.layerConfig.refreshInterval :
                !self.block.mainProxyWrapper.layerConfig.refreshInterval || self.uiControl.isDynamicChild) && refreshForm.interval.$valid">
            <md-tooltip>{{ 'settings.label.refreshInterval.close' | translate }}</md-tooltip>
            <md-icon md-svg-src="navigation:close"></md-icon>
        </md-button>

        <div class="rv-hint refresh-hint" ng-if="refreshForm.interval.$valid && !self.uiControl.isDynamicChild">{{ 'settings.label.refreshOff' | translate }}</div>
        <div ng-messages="refreshForm.interval.$error" md-auto-hide="false" ng-hide>
            <div ng-message="min, max">{{ 'settings.label.refreshError' | translate }}</div>
        </div>

        <!-- this block is used when the control is disabled -->
        <div class="rv-input-footer" ng-if="self.valueParentBlock" >
            <!-- double variable replacement https://github.com/angular-translate/angular-translate/issues/1667 -->
            <span class="rv-input-changeat md-caption" translate="settings.change.at" translate-values="{ controlName: self.uiControl.controlName }" translate-compile></span>

            <rv-legend-control block="self.valueParentBlock" template="link" name="settings"></rv-legend-control>
        </div>
    </md-input-container>
</form>
