<div
    class="rv-list-item-body">

    <md-tooltip md-delay="self.getTooltipDelay()" md-direction="{{ self.getTooltipDirection() }}">{{ self.block.name }}</md-tooltip>
</div>

<div class="rv-icon-32">
    <md-icon md-svg-src="community:emoticon-sad"></md-icon>
</div>


<div class="rv-list-item-content">
    <div class="rv-list-item-name"
        rv-truncate-title="self.block.name"
        rv-truncate-title-is-active="self.isNameTruncated">
    </div>

    <div class="rv-list-item-flags">
        <rv-legend-flag block="self.block" name="badProjection"></rv-legend-flag>
    </div>
</div>

<div class="rv-list-item-controls" ng-if="self.isReorder">
    <rv-legend-control rv-drag-handle block="self.block" name="reorder" class="rv-list-item-control rv-stay-visible"></rv-legend-control>
</div>

<div class="rv-list-item-controls">
    <rv-legend-control block="self.block" name="remove" class="rv-stay-visible rv-list-item-control"></rv-legend-control>
</div>