<md-button
    aria-label='layer data'
    class="rv-layer-body-button rv-button-square"
    rv-help="layer-item"
    ng-if="self.entry.options.data"
    ng-click="self.defaultAction(self.entry)">
    <!-- TODO: add aria attribues on the button to provide context on what it does; also mute the actual layer name below, so a screen reader wouldn't pronounce it twice-->
</md-button>

<!-- TODO: maybe have a wrapper div so we can toggle the error template in one place instead of in pieces -->
<div ng-if="self.entry.state === 'rv-error'">
    <div class="rv-icon-32">
        <md-icon md-svg-src="community:emoticon-sad"></md-icon>
    </div>

    <div class="rv-layer-item-content">
        <div class="rv-layer-item-name">
            {{ self.entry.name }}
        </div>

        <!-- TODO: add translation -->
        <div class="rv-layer-item-caption md-caption">
            Can't load layer
        </div>
    </div>


    <div class="rv-toc-entry-controls">
        <rv-toc-entry-control option="reload"></rv-toc-entry-control>
        <rv-toc-entry-control option="remove"></rv-toc-entry-control>
    </div>
</div>

<div ng-if="self.entry.state !== 'rv-error'">
    <div class="rv-icon-32">
        <md-icon md-svg-src="community:emoticon-happy"></md-icon>
    </div>

    <div class="rv-layer-item-content">
        <div class="rv-layer-item-name">
            {{ self.entry.name }}
        </div>

        <!-- TODO: add translation -->
        <div class="rv-layer-item-caption md-caption">
            Loading layer...
        </div>
    </div>
</div>
