<div class="rv-layer-body-button rv-button-square" tabindex="0">
    <md-tooltip md-delay="700" md-direction="{{ self.getTooltipDirection() }}">{{ self.entry.name }}</md-tooltip>
</div>

<div class="rv-icon-32" ng-if-start="self.entry.state === 'rv-error'">
    <md-icon md-svg-src="community:emoticon-sad"></md-icon>
</div>

<div class="rv-toc-entry-content">
    <div class="rv-toc-entry-name">
        {{ self.entry.name }}
    </div>

    <div class="rv-toc-entry-caption md-caption">
        {{'toc.tmp.label.error.loading' | translate}}
    </div>
</div>

<!-- only show reorder handle on placeholder entry when reordering -->
<div class="rv-toc-entry-controls" ng-if="self.isReorder">
    <rv-toc-entry-control rv-drag-handle option="reorder"></rv-toc-entry-control>
</div>

<div class="rv-toc-entry-controls" ng-if-end ng-if="!self.isReorder">
    <rv-toc-entry-control option="reload"></rv-toc-entry-control>
    <rv-toc-entry-control option="remove"></rv-toc-entry-control>
</div>

<div class="rv-icon-32" ng-if-start="self.entry.state !== 'rv-error'">
    <md-icon md-svg-src="community:emoticon-happy"></md-icon>
</div>

<div class="rv-toc-entry-content">
    <div class="rv-toc-entry-name">
        {{ self.entry.name }}
    </div>

    <div class="rv-toc-entry-caption md-caption">
        {{'toc.tmp.label.state.loading' | translate}}
    </div>
</div>

<div class="rv-toc-entry-controls" ng-if-end>
    <rv-toc-entry-control option="remove"></rv-toc-entry-control>
</div>
