<div
    class="rv-symbology-container rv-render-{{ self.symbology.renderStyle }}"
    ng-class='[{ "rv-expanded" : self.isExpanded }, { "rv-compound" : self.symbology.stack.length > 1 }]'>

    <div class="rv-description-container">
        <span class="rv-description">{{ ::self.description }}</span>
    </div>

    <div class="rv-symbol" ng-repeat="symbol in self.symbology.stack" ng-style="{'z-index': 100 + self.symbology.stack.length - $index }">
        <rv-svg class="rv-symbol-graphic" src="symbol.svgcode"></rv-svg>
        <div class="rv-symbol-label-container">
            <span class="rv-symbol-label">{{ symbol.name }}</span>
        </div>

        <md-button
            class="md-icon-button rv-icon-20"
            ng-click="self.onToggleClick(symbol.name)"
            ng-if="self.toggleList[symbol.name]"
            aria-pressed = "{{ self.toggleList[symbol.name].isSelected }}"
            aria-label="{{ (self.toggleList[symbol.name].isSelected && ('toc.aria.visibility.on' | translate)) ||
                (!self.toggleList[symbol.name].isSelected && ('toc.aria.visibility.off' | translate)) }}">
            <md-icon md-svg-src="{{self.toggleList[symbol.name].icon}}"></md-icon>
            <md-tooltip md-direction="top">{{ (self.toggleList[symbol.name].isSelected && ('toc.aria.visibility.on' | translate)) ||
                (!self.toggleList[symbol.name].isSelected && ('toc.aria.visibility.off' | translate)) }}</md-tooltip>
        </md-button>

    </div>

    <md-button
        ng-style="{'z-index': 100 + self.symbology.stack.length + 1 }"
        class="rv-symbol-trigger rv-button-32 rv-icon-24 md-icon-button"
        ng-if="self.symbology.isInteractive"
        ng-click="self.expandSymbology()"
        ng-focus="self.fanOutSymbology(true)"
        ng-blur="self.fanOutSymbology(false)"
        ng-mouseover="self.fanOutSymbology(true)"
        ng-mouseout="self.fanOutSymbology(false)">
        <md-tooltip md-direction="top">{{ self.symbology.expanded ? 'toc.layer.label.symbologyHide' : 'toc.layer.label.symbologyShow' | translate }}</md-tooltip>
        <md-icon md-svg-src="navigation:close"></md-icon>
    </md-button>

</div>
