<div class="rv-symbology-container rv-render-{{ self.symbology.renderStyle }} rv-compound"
    ng-class='[{ "rv-expanded" : self.isExpanded }, { "rv-one" : self.symbology.stack.length === 1 }]'>
    <div class="rv-description-container">
        <span class="rv-description">{{ ::self.description }}</span>
    </div>

    <div class="rv-symbol rv-cover-icon" ng-if="self.symbology.coverIcon"
        ng-style="{'z-index': 100 + self.symbology.stack.length + 1 }">
        <rv-svg class="rv-symbol-graphic" src="self.symbology.coverIcon.svgcode"></rv-svg>
    </div>

    <div class="rv-symbol" ng-repeat="symbol in self.symbology.stack"
        ng-style="{'z-index': 100 + self.symbology.stack.length - $index, 'width': self.symbologyWidth}"
        style="visibility:inherit!important">
        <rv-svg ng-if="symbol.image && self.block.blockConfig.symbologyRenderStyle !== 'icons'" rv-expand-image
            class="rv-symbol-graphic" source="{{ symbol.image }}" src="symbol.svgcode"></rv-svg>
        <rv-svg ng-if="symbol.image && self.block.blockConfig.symbologyRenderStyle === 'icons'"
            class="rv-symbol-graphic" source="{{ symbol.image }}" src="symbol.svgcode"></rv-svg>
        <rv-svg ng-if="!symbol.image" class="rv-symbol-graphic" src="symbol.svgcode"></rv-svg>


        <div class="rv-symbol-label-container">
            <span class="rv-symbol-label">{{ symbol.name }}</span>
        </div>

        <md-button class="md-icon-button rv-icon-20 toggle-button data-test-symbol-toggle-button"
            ng-click="self.onToggleClick(symbol.toggle)" ng-if="symbol.toggle"
            aria-pressed="{{symbol.toggle.isSelected }}" aria-label="{{ (symbol.toggle.isSelected && ('toc.aria.visibility.on' | translate)) ||
                (!symbol.toggle.isSelected && ('toc.aria.visibility.off' | translate)) }}">
            <md-icon md-svg-src="{{symbol.toggle.icon}}"></md-icon>
            <md-tooltip md-direction="top">{{ (symbol.toggle.isSelected && ('toc.aria.visibility.on' | translate)) ||
                (!symbol.toggle.isSelected && ('toc.aria.visibility.off' | translate)) }}</md-tooltip>
        </md-button>
    </div>

    <md-button ng-style="{'z-index': 100 + self.symbology.stack.length + 2 }"
        class="rv-symbol-trigger rv-button-32 rv-icon-24 md-icon-button" ng-if="self.symbology.isInteractive"
        ng-click="self.expandSymbology()" ng-focus="self.fanOutSymbology(true)" ng-blur="self.fanOutSymbology(false)"
        ng-mouseover="self.fanOutSymbology(true)" ng-mouseout="self.fanOutSymbology(false)">
        <md-tooltip md-direction="top">
            {{ self.symbology.expanded ? 'toc.layer.label.symbologyHide' : 'toc.layer.label.symbologyShow' | translate }}
        </md-tooltip>
        <md-icon md-svg-src="navigation:close"></md-icon>
    </md-button>

</div>
