<div class="rv-stepper-item-container">
    <div class="rv-stepper-item-header" ng-class="{ 'rv-summary': self.summaryValue }">
        <span class="rv-stepper-item-number" ng-class="{ 'rv-active': self.isActive }" ng-if="!self.isCompleted">{{ self.stepNumber }}</span>
        <md-icon
            class="rv-stepper-item-check"
            ng-class="{ 'rv-active': self.isActive }"
            md-svg-src="action:check_circle"
            ng-if="self.isCompleted"></md-icon>

        <div class="rv-stepper-item-title">
            <h5 class="md-body-2">{{ self.titleValue }}</h5>
            <span class="md-caption">{{ self.summaryValue }}</span>
        </div>

    </div>

    <div class="rv-stepper-item-content rv-toggle-slide" ng-show="self.isActive">

        <div class="rv-stepper-item-body">
            <ng-transclude></ng-transclude>
        </div>

        <div class="rv-stepper-item-footer" ng-if="self.onCancel || self.onComplete">

            <md-button class="rv-button-square" ng-if="self.onCancel" ng-click="self.onCancel()">
                cancel
            </md-button>

            <md-button class="rv-button-square md-primary" ng-if="self.onComplete" ng-click="self.onComplete()">
                continue
            </md-button>

        </div>
    </div>

</div>
