.inner-shell {

    // z-index on inner-shell is needed to prevent elements' shadows from overlapping
    // http://blog.dudak.me/2014/css-shadows-under-adjacent-elements/
    z-index: 0;
}

rv-appbar {
    left: $viewport-gutter;
    top: $viewport-gutter;
    position: absolute;
}

rv-panel[type='filters'] {
    &.default {
        @include active-panel-plug($left: $viewport-gutter * 2 + $toolbar-width, $top: $viewport-gutter, $right: $viewport-gutter, $bottom: 50%);
    }

    &.full {
        @include active-panel-plug($left: $viewport-gutter * 2 + $toolbar-width, $top: $viewport-gutter, $right: $viewport-gutter, $bottom: $viewport-gutter);
    }

    &.attached {
        @include active-panel-plug($left: $viewport-gutter + $toolbar-width, $top: $viewport-gutter + $toolbar-height, $width: 300px, $bottom: $viewport-gutter);
    }

    &.minimized {
        @include active-panel-plug($left: $viewport-gutter * 2 + $toolbar-width, $top: $viewport-gutter, $right: $viewport-gutter, $height: 100px);
    }
}

rv-panel[type='main'] {
    @include active-panel-plug($left: $viewport-gutter, $top: $viewport-gutter + $toolbar-height, $bottom: $viewport-gutter, $width: $toolbar-width, $from: top);

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        border-top: 1px solid $divider-color;
        z-index: 1;
    }

    &.ng-animate {
        &:before {
            left: 10px;
            right: 10px;
        }
    }

    /*
    &.stagger {
        @include plug-transition-delay;
    }

    */
    rv-toc, rv-toolbox {
        @include content-plug;
    }
}

rv-panel[type='side'] {

    //@include active-panel-plug($left: $viewport-gutter + $toolbar-width, $top: $viewport-gutter + $toolbar-height + 1, $bottom: $viewport-gutter, $width: $side-panel-width, $from: left);
    @include active-panel-plug($left: $viewport-gutter + $toolbar-width, $top: $viewport-gutter + $toolbar-height + 1, $bottom: $viewport-gutter, $width: $side-panel-width, $from: left);

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 1px;
        border-left: 1px solid $divider-color;
        z-index: 1;
    }

    &.ng-animate {
        &:before {
            bottom: 10px;
        }
    }


    rv-settings, rv-metadata {
        @include content-plug;
    }
}
