rv-appbar {
    left: $viewport-gutter;
    top: $viewport-gutter;
    position: absolute;
}

md-toast.md-rv-flex-global {
    display: flex;
    width: 100%;
    justify-content: center;
}

rv-panel md-toast.md-rv-flex {
    width: 100%;
    padding: {
        left: 0;
        right: 0;
        bottom: 0;
    };
}

rv-panel[type='filters'] {
    &.default {
        @include active-panel-plug($left: $viewport-gutter * 2 + $toolbar-width, $top: $viewport-gutter, $right: $viewport-gutter, $bottom: 50%);
    }

    &.full {
        @include active-panel-plug($left: $viewport-gutter * 2 + $toolbar-width, $top: $viewport-gutter, $right: $viewport-gutter, $bottom: $viewport-gutter);
    }

    &.attached {
        @include active-panel-plug($left: $viewport-gutter + $toolbar-width, $top: $viewport-gutter + $toolbar-height + 1, $width: 300px, $bottom: $viewport-gutter);

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 1px;
            border-left: 1px solid $divider-color;
            z-index: 1;
        }

        &.ng-animate {
            &:before {
                bottom: 10px;
            }
        }
    }

    &.minimized {
        @include active-panel-plug($left: $viewport-gutter * 2 + $toolbar-width, $top: $viewport-gutter, $right: $viewport-gutter, $height: 100px);
    }
}

rv-panel[type='main'] {
    @include active-panel-plug($left: $viewport-gutter, $top: $viewport-gutter + $toolbar-height + 1, $bottom: $viewport-gutter, $width: $toolbar-width, $from: top);

    &:before {
        content: "";
        position: absolute;
        top: -1px;
        left: 0;
        right: 0;
        height: 1px;
        border-top: 1px solid $divider-color;
        z-index: 1;
    }

    &.ng-animate {
        &:before {
            left: 10px;
            right: 10px;
        }
    }

    rv-toc,
    rv-toolbox {
        @include content-plug;
    }
}

rv-panel[type='side'] {

    //@include active-panel-plug($left: $viewport-gutter + $toolbar-width, $top: $viewport-gutter + $toolbar-height + 1, $bottom: $viewport-gutter, $width: $side-panel-width, $from: left);
    @include active-panel-plug($left: $viewport-gutter + $toolbar-width, $top: $viewport-gutter, $bottom: $viewport-gutter, $width: $side-panel-width, $from: left);

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 1px;
        border-left: 1px solid $divider-color;
        z-index: 1;
    }

    &.ng-animate {
        &:before {
            top: $viewport-gutter;
            bottom: $viewport-gutter;
        }
    }

    rv-settings,
    rv-metadata {
        @include content-plug;
    }
}

rv-panel[type='other'] {
    @include active-panel-plug($right: 0, $top: 0, $bottom: 0, $width: 300px, $from: right);

    .panel {
        //background-color: rgba(0,0,0,0.68);
        background-color: rgba(255,255,255,.68);
        //color: white;

        md-content {
            background-color: #fff;
            //color: white;
        }
    }
}
