<md-dialog aria-label="{{'sidenav.label.about' | translate}}" class="side-nav-about">
    <rv-content-pane close-panel="self.close()" title-style="title" title-value="{{'sidenav.label.about' | translate}}">
        <p class="rv-aboutDesc" ng-if="self.about" ng-bind-html="self.about" tabindex="-2"></p> <!-- set tabIndex, if not focus is not trap. Also let keyboard user focus text to scroll -->
        <md-icon class="rv-about-data-failure-default" ng-if="!self.about && !self.failureImageUrl" md-svg-src="sadpanda"></md-icon>
        <img class="rv-about-data-failure-custom" ng-if="!self.about && self.failureImageUrl" ng-src="{{ self.failureImageUrl }}">
    </rv-content-pane>
</md-dialog>
