<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-button class="md-icon-button black rv-button-24 minimize-button" ng-click="self.minimize()">
        <md-icon md-svg-src="navigation:chevron_left"></md-icon>
        <md-button class="md-icon-button black rv-button-24 minimize-button">
            <md-icon md-svg-src="navigation:chevron_left"></md-icon>
        </md-button>
    </md-button>

    <header class="nav-header">
        <a class="app-logo" href="#">
            <img src="{{self.markerImageSrc}}" alt="">
            <h1 translate class="app-logotype md-heading">sidenav.title</h1>
        </a>
    </header>

    <md-content role="navigation">
        <ul class="app-menu">
            <li class="app-menu-item" ng-repeat="section in self.menu">
                <h2 class="menu-heading md-subhead" ng-if="section.type === 'heading'">
                    {{section.name}}
                </h2>
                <rv-menu-link ng-if="section.type === 'link'" section="section"></rv-menu-link>

                <ul class="app-menu app-menu-sublist" ng-if="section.children">
                    <li ng-repeat="child in section.children">
                        <rv-menu-link section="child"></rv-menu-link>
                    </li>
                </ul>
            </li>
        </ul>

        <span flex></span>
        <p class='md-caption rv-version'>
            <span class='rv-version-number'>{{ self.version.major }}.{{ self.version.minor }}.{{ self.version.patch }}
                <span class='rv-version-hash'>[{{ self.version.hash }}]</span></span>
            <span class='rv-version-timestamp'>{{ self.version.timestamp }}</span>
        </p>

    </md-content>
</md-sidenav>
