<md-sidenav rv-trap-focus class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <header class="rv-sidemenu-header">
        <div class="app-logo" ng-class="{ 'rv-no-logo': !self.uiConfig.sideMenu.logo }">
            <div ng-if="self.uiConfig.sideMenu.logo">

                <img ng-src="{{ self.uiConfig.logoUrl }}" ng-if="self.uiConfig.logoUrl" alt="">

                <md-icon md-svg-src="logo" ng-if="!self.uiConfig.logoUrl"></md-icon>
            </div>

            <h1 class="app-logotype md-heading">{{ self.uiConfig.title || 'sidenav.title' | translate }}</h1>
        </div>
    </header>

    <md-button class="md-icon-button black rv-button-32 minimize-button" ng-click="self.service.close()" aria-label="{{ 'contentPane.aria.close' | translate }}">
        <md-icon md-svg-src="community:chevron-double-left"></md-icon>
    </md-button>

    <md-content role="navigation">
        <ul class="app-menu" ng-repeat-start="section in self.uiConfig.sideMenu.items">
            <li class="app-menu-item" ng-repeat="item in section" ng-init="item = self.service.controls[item]">

                <rv-menu-link control="item" ng-if-start="!item.isHidden"></rv-menu-link>
                <ul class="app-menu app-menu-sublist" ng-if="item.type === 'group'" ng-if-end>
                    <li ng-repeat="child in item.children">
                        <rv-menu-link control="child"></rv-menu-link>
                    </li>
                </ul>
            </li>
        </ul>
        <md-divider ng-repeat-end ng-if="!$last"></md-divider>

        <span flex></span>
        <div class="md-caption rv-version">
            <span class="rv-version-number">{{ self.version.major }}.{{ self.version.minor }}.{{ self.version.patch }}
                <span class="rv-version-hash">[{{ self.version.hash }}]</span></span>
            <span class="rv-version-timestamp">{{ self.version.timestamp }}</span>
            <div class="rv-version-github">
                <a href="https://github.com/fgpv-vpgf/fgpv-vpgf" target="_parent" class="rv-icon-24">
                    <md-icon md-svg-src="community:github"></md-icon>fgpv-vpgf/fgpv-vpgf</a>
            </div>
        </div>

    </md-content>
</md-sidenav>
