<div class="rv-button-group">
    <md-button
        aria-label="{{ filter.filters.apply | translate }}"
        class="rv-filters-apply primary"
        rv-help="filters-apply-button"
        ng-click="self.filterService.applyFilters()"
        ng-show="!self.filterService.filter.isApplied && (self.filterService.isFeatureLayer || self.filterService.isDynamicLayer)">
        {{ 'filter.filters.apply' | translate }}
    </md-button>

    <md-button
        aria-label="{{ filter.filters.clear.tooltip | translate }}"
        class="md-icon-button primary"
        rv-help="filters-clear-button"
        ng-click="self.filterService.clearFilters()">
        <md-tooltip>{{ 'filter.filters.clear.tooltip' | translate }}</md-tooltip>
        <md-icon md-svg-src="community:filter"></md-icon>
    </md-button>

    <span class="rv-filters-divider"></span>

    <md-button
        aria-label="{{ filter.filters.setting.tooltip | translate }}"
        class="md-icon-button primary"
        rv-help="filters-setting-button"
        ng-click="self.filterService.toggleSetting()">
        <md-tooltip>{{ 'filter.filters.setting.tooltip' | translate }}</md-tooltip>
        <md-icon md-svg-src="action:settings"></md-icon>
    </md-button>
</div>
