.elem {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.panel-contents {
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: $whiteframe-shadow-1dp;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    margin: 10px;

    .rv-button-24 {
        height: inherit;
    }
}
.panel-controls {
    padding: 4px 12px 4px 18px;
    height: 40px;
    overflow: hidden;

    .md-icon-button {
        width: 24px;
        height: 32px;
    }
}
.separator{
    border-bottom: lightgrey solid 1px;
}
.panel-body{
    padding: 5px 18px;
    overflow-y: auto;
    height: 92.1%;
    border-top: lightgrey solid 1px;
}
.btn{
    width: 36px;
    height: 26px;
    margin: 2px;
    background-color: #ffffff;
    border: none;
    outline: none;
    vertical-align: middle;
}

.text-btn{
    width: 36px;
    height: 26px;
    margin: 2px;
    padding: 2px;
    background-color: white;
    border: 2px solid  slategrey;
    outline: none;
    color: slategrey;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
}


.text-btn:hover {
    background-color: darkslategray;
    border: 2px solid  darkslategray;
    color: white;
    outline: none;
}

.text-btn:click {
    background-color: darkslategray;
    color: white;
    outline: none;
}

.svg-style{
    width: 80%;
    height: 80%;
    top: 0px;
    left: 0px;
    fill: #778899;
}
.svg-style:hover{
    fill: darkslategray;
}
.txt{
    width: 20%;
    height: 20%;
}
.hidden{
    display: none;
}
.divider{
    border-left: 1px solid rgb(146, 167, 187);
    height: 36px;
    margin-left: 10px;
    padding-bottom: 0px;
}
.z  {
    display: inline-block;
    padding: 5px;
}
