// Primary mixin
@mixin sidenav {
    md-sidenav {
        &.site-sidenav {
            max-width: 256px;
            min-width: 256px;
            flex-direction: column;

            > md-content {
                flex-direction: column;
                display: flex;
                flex: 1;
            }

            .rv-version {
                text-align: center;

                &-number {
                    font-weight: bold;
                    display: block;
                }

                &-hash {
                    margin-left: rem(0.3);
                    font-weight: normal;
                    font-size: smaller;
                }

                &-timestamp {
                    font-size: smaller;
                }
            }

            .app-logo {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 0 16px;
                margin: 0 auto;
                border-bottom-color: $primary-color-light;
                background: linear-gradient(#CFD8DC, #FFFFFF);

                > img {
                    height: 150px;
                    width: auto;
                    display: block;
                    transform-origin: 50% 0;
                    transform: scale(1);
                }

            }

            .app-logotype {
                color: black;
                text-align: center;
                font-weight: 400;
                font-size: 26px;
            }

            .app-menu {
                padding: 0;
                margin: 0;
                list-style: none;
                max-width: 100%;
                overflow-x: hidden;
            }

            .menu-heading {
                display: block;
                line-height: 32px;
                margin: 0;
                padding: 8px 16px 0;
                text-align: left;
                width: 100%;
                color: black;
            }
            @include menu-link;
        }
    }
}

@mixin menu-link {
    rv-menu-link {
        padding: 0;
        margin: 0;
        @include menu-button;
    }
}

@mixin menu-button {
    .md-button {
        border-radius: 0;
        color: black;
        cursor: pointer;
        display: block;
        align-items: inherit;
        line-height: 40px;
        margin: 0;
        max-height: 40px;
        overflow: hidden;
        padding: 0 16px;
        text-align: left;
        text-decoration: none;
        white-space: normal;
        width: 100%;
    }
}
