// Primary mixin
%appbar-title {
    flex: 1;
    overflow: hidden;

    h2 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @include include-size(rv-gt-sm) {
            width: $toolbar-width;
        }

        margin: {
            top: auto;
            bottom: auto;
        }
    }
}

%appbar {
    box-sizing: border-box;
    height: $toolbar-height;
    z-index: auto;
    background: white;
    align-items: center;
    padding: rem(0.4);
    display: flex;

    @include media($rv-gt-sm) {
        width: $toolbar-width;
    }
}

@mixin appbar {
    .main-appbar {
        @extend %appbar;

        .rv-appbar-title {
            @extend %appbar-title;
        }

        .rv-appbar-divider {
            border-right: $divider-color 1px solid;
            height: 65%;
            margin: {
                right: rem(0.4);
                left: rem(0.4);
                //left: rem(1);
            }
        }
    }
}
