@mixin buttons {
    @include icon-button;
    @include icon-sizes;
    @include mapnav-button;
    @include button-group;
    @include button-effects;
}

@mixin icon-button {
    .md-icon-button {
        @include icon;

        &.black {
            @include icon(black);
        }

        &.accent {
            @include icon($accent-color);
        }

        &.primary {
            @include icon($primary-color);
        }
    }
}

/* default icons are 48x48 container and 24x24 actual icon; rv-icon-auto keeps the size of the actual icon but changes the size of the container to fit; other rules change the size of the actual icon and keeps its click ripple at 48x48 */
@mixin icon-sizes {
    .rv-icon-auto {
        @include icon-size;
    }

    .rv-icon-20 {
        @include icon-size(rem(2));
    }

    .rv-icon-16 {
        @include icon-size(rem(1.6));
    }

    .rv-icon-14 {
        @include icon-size(rem(1.4));
    }
}

@mixin icon-size($size: rem(2.4)) {

    // adjust size of the button container to fit around the icon
    height: auto;
    line-height: normal;
    min-height: auto;
    width: auto;
    min-width: auto;
    overflow: visible;

    md-icon {
        height: $size;
        width: $size;
    }

    // when the button-icon is focused, it shows a shaded background; if the icon is resized, the background is also resized and might not be well visible; we would the shaded background to match button's ripple shape
    &.md-focused {
        background: none;

        &:before {
            content: "";
            position: absolute;
            background: rgba(158,158,158,0.2);
            border-radius: 50%;
            @include icon-ripple-shape($size);
        }
    }

    // keep a normal size ripple
    > .md-ripple-container {
        @include icon-ripple-shape($size);
    }
}

// keeps button-icon ripple default size (48px) when the icon itself is resized; also used to resize on-focus effect
@mixin icon-ripple-shape($size) {
    width: $icon-button-width; // it's rem(4.0) now
    height: $icon-button-height; // it's rem(4.0) now
    overflow: visible;
    left: - ($icon-button-width - $size) / 2; // shift ripple so it's still centered over the icon
    top: - ($icon-button-height - $size) / 2;
}

@mixin mapnav-button {
    rv-mapnav-button {
        display: block;

        //$default-bg-color: $primary-color;
        //$default-icon-color: white;
        $default-bg-color: white;
        $default-icon-color: black;
        $default-size: 80%;
        $large-size: 100%;

        .md-button {
            margin: 0;
            border-radius: 0;
            background-color: $default-bg-color;
            height: $map-nav-button-height;
            line-height: $map-nav-button-height;
            min-height: $map-nav-button-height;
            width: $map-nav-button-width;
            min-width: $map-nav-button-width;
            @include icon($color: $default-icon-color, $opacity-to: 0.9);
            padding: 0 6px;

            md-icon {
                height: $default-size;
                width: $default-size;
            }

            &:not([disabled]):hover,
            &:not([disabled]).md-focused {
                background-color: $default-bg-color;
            }

            .md-ripple-container {
                border-radius: 0;
            }
        }

        &.bold {
            md-icon {
                height: $large-size;
                width: $large-size;
            }
        }
    }
}

@mixin icon($color: auto, $opacity-from: 0.62, $opacity-to: 0.9, $opacity-full: 1) {
    padding: 0;

    md-icon {
        @if $color != auto {
            color: $color;
        }
        opacity: $opacity-from;
    }

    &:not([disabled]):hover,
    &:not([disabled]):focus,
    &:not([disabled]).md-focused {
        md-icon {
            opacity: $opacity-to;
        }
    }

    &:not([disabled]).selected {
        md-icon {
            opacity: $opacity-full;
        }
    }
}

@mixin button-group {
    $border-radius: 2px;
    $opacity-from: 0.62;
    $opacity-to: 1;

    .rv-button-group {
        margin: 2px 0;
        position: relative;
        border-radius: $border-radius;
        background-color: white;
        list-style: none;
        padding: 0;

        // round corners on the first and last elements
        > *:first-child {
            border-radius: $border-radius $border-radius 0 0;
            overflow: hidden;
        }

        > *:last-child {
            border-radius: 0 0 $border-radius $border-radius;
            overflow: hidden;
        }

        &.hover {
            opacity: 0.62;
            transition: opacity $fade-in-out-duration ease-in;

            &:not([disabled]):hover,
            &:not([disabled]):focus,
            &:not([disabled]).md-focused {
                opacity: 1;
            }
        }

        md-divider {
            margin: 0 6px;
        }
    }
}

@mixin button-effects {
    .md-button {
        // makes the button and its ripple square, no cheesy rounded corners
        &.rv-button-square {
            border-radius: 0;

            .md-ripple-container {
                border-radius: 0;
            }
        }
    }
}
