// Primary mixin

@mixin content-pane {
    .rv-content-pane {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 0;

        .rv-header {
            display: flex;
            white-space: nowrap;
            border-bottom: 1px solid $divider-color-light;
            height: auto; // 1px needed for a border
            min-height: $toolbar-height + 1px;
            align-items: center;
            padding: 0 0 0 rem(1.6);

            .rv-header-content {
                overflow: hidden;

                header {
                    line-height: 10px;
                }

                p.tagline {
                    margin: 0;
                }
            }

            .rv-header-controls {
                display: flex;
                align-items: center;
                height: 48px;
                padding: 0px 10px 0px 16px;

                .md-button {
                    margin: 0;
                }
            }

            @include include-size(rv-lt-lg) {
                padding-left: 50px;

                .rv-close {
                    position: absolute;
                    left: 5px;
                }
            }

            @include pane-title;

            &-float {
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-end;
                position: absolute;
                z-index: 1;
                border: none;
                padding: rem(0.4) 0;
                right: 0;
                //left: 1px;
                /*background: linear-gradient(to bottom, rgba(255,255,255,1) 30%,rgba(255,255,255,0.62) 60%, rgba(255,255,255,0) 100%);*/
                align-items: center;

                .md-button {
                    margin-right: 10px;
                }

                // add not md-focused because if, it is overwritten and focus background-color is not applied
                .md-button:not(.md-focused) {
                    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 30%,rgba(255,255,255,0.32) 100%);
                }
            }
        }

        .rv-content {
            flex: 1;
            padding: 8px;
            position: relative;
        }

        .rv-footer {
            border-top: 1px solid $divider-color-light;
        }

        .rv-progress-top {
            height: 3px;
        }

        md-toast.md-rv-flex {
            width: 100%;
            padding: {
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }

    @include subsection;
}

@mixin pane-title {
    .md-headline,
    .md-title,
    .md-subhead,
    .md-caption {
        margin: 0;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .md-headline,
    .md-title,
    .md-subhead {
        line-height: rem(2.4);
    }
}

@mixin subsection {
    // use subsections to separate content into chunks
    .rv-subsection {
        padding: 8px;

        .rv-subheader {
            border-bottom: 1px solid $divider-color-light;
            display: flex;

            h4, h5, h6 {
                color: darken(#00BCD4, 20%);
            }

            @include include-size(rv-gt-sm) {
                margin: {
                    top: rem(0.6);
                    bottom: rem(0.6);
                }
            }
            padding: {
                top: 0;
                bottom: 0;
            }
            @include pane-title;
        }

        .rv-subcontent {
            .rv-sub-subhead {
                margin: 0;

                h1, h2, h3,
                h4, h5, h6 {
                    color: darken(#00BCD4, 30%);
                }
            }

            // remove margin from the first and last child paragraph
            p:first-child {
                margin-top: 0;
            }

            p:last-child {
                margin-bottom: 0;
            }

            margin-bottom: rem(1);
        }
    }
}
