// Primary mixin
@mixin content-pane {
    .rv-content-pane {
        top: 0;
        left: 0;
        bottom: 8px;
        right: 0;
        position: absolute;

        .rv-header {
            display: flex;
            white-space: nowrap;
            margin: {
                top: 2px;
                bottom: 6px;
            }
            padding: {
                top: 0;
                bottom: 0;
                right: 0;
            }

            > .md-headline,
            > .md-title,
            > .md-subhead {
                line-height: 24px;
                margin-top: 0;
                margin-bottom: 0;
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        .rv-content {
            top: 49px;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            padding: {
                left: 8px;
                right: 8px;
            }
        }
    }

    // use subsections to separate content into chunks
    .rv-subsection {
        padding: 8px;

        .rv-subheader {
            margin: {
                top: 5px;
                bottom: 11px;
            }
            padding: {
                top: 0;
                bottom: 0;
            }

            > .md-headline,
            > .md-title,
            > .md-subhead {
                line-height: 24px;
                margin-top: 0;
                margin-bottom: 0;
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        .rv-subcontent {
            padding: {
                left: 8px;
                right: 8px;
            }
        }
    }
}
