// Primary mixin

@mixin content-pane {
    .rv-content-pane {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 0;

        .rv-header {
            display: flex;
            white-space: nowrap;
            border-bottom: 1px solid $divider-color-light;
            height: $toolbar-height + 1px; // 1px needed for a border
            align-items: center;
            padding: {
                right: rem(0.6);
                left: rem(1.6);
            }
            @include pane-title;

            &-float {
                display: flex;
                justify-content: flex-end;
                position: absolute;
                z-index: 1;
                border: none;
                padding: rem(0.4) 0;
                right: 0;
                //left: 1px;
                /*background: linear-gradient(to bottom, rgba(255,255,255,1) 30%,rgba(255,255,255,0.62) 60%, rgba(255,255,255,0) 100%);*/
                align-items: center;

                > .md-button {
                    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 30%,rgba(255,255,255,0.32) 100%)
                }
            }
        }

        .rv-content {
            flex: 1;
            padding: 8px;
            margin-bottom: 8px;
            position: relative;
        }

        .rv-footer {
            border-top: 1px solid $divider-color-light;
        }
    }

    md-progress-linear {
        position: absolute;
        top: 0;
        height: 3px;
        overflow: hidden;
        padding: 0;
        z-index: 10;
    }

    @include subsection;
}

@mixin pane-title {
    > .md-headline,
    > .md-title,
    > .md-subhead {
        line-height: 24px;
        margin-top: 0;
        margin-bottom: 0;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

@mixin subsection {
    // use subsections to separate content into chunks
    .rv-subsection {
        padding: 8px;

        .rv-subheader {
            border-bottom: 1px solid $divider-color-light;
            margin: {
                top: 5px;
                bottom: 11px;
            }
            padding: {
                top: 0;
                bottom: 0;
            }
            @include pane-title;
        }

        .rv-subcontent {
            .rv-sub-subhead {
                margin: 0;
            }
            // remove margin from the first and last child paragraph
            p:first-child {
                margin-top: 0;
            }

            p:last-child {
                margin-bottom: 0;
            }
        }
    }
}
