// Primary mixin
@mixin content-pane {
    .content-pane {
        top: 0;
        left: 0;
        bottom: 8px;
        right: 0;
        position: absolute;

        .md-headline, .md-title, .md-subhead {
            line-height: 24px;
            margin-top: 5px;
            margin-bottom: 11px;
        }
    }
}
