@mixin core {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    .rv-nopointer {
        pointer-events: none;
    }
}
