@mixin esri-map {
    .rv-esri-map {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        z-index: -1;

        // override clip on esri container; it appears only on mercator maps; lambert is fine
        // they use clip to prevent duplciates of the map to be shown side by side when you are zoomed
        // far out;
        // this arbitrary clipping is annoying and it's purpose might not be obvious to users;
        div[id$="_container"].container {
            clip: auto !important;
        }

        .layerTile {
            // tiles don't line up properly otherwise
            position: absolute;
        }

        &:focus::after {
            content: '';
            border: 2px solid #4d90fe;
            box-sizing: border-box;
            height: 100%;
            pointer-events: none;
            position: absolute;
            width: 100%;
            top: 0;
            left: -2px;
            border-left-width: 4px;
        }
    }
}
