@mixin failure-image {
    rv-failure-image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: inherit;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 0 5%;
        height:100%;
        padding-top:50px;

        .rv-fail-before {
            flex: 1;
        }

        .rv-fail-after {
            flex: 3;
        }

        img,
        p {
            flex: 1;
            max-width: 80%;
            max-height: 70%;
        }

        md-icon {
            max-width: rem(40);
            max-height: rem(40);

            width: 80%;
            height: 80%;
        }
    }
}
