@mixin file-drop {
    .rv-file-drop {
        &-active {
            .rv-file-drop-container {
                display: block;

                &:before {
                    position: absolute;
                    content: "";
                    top: rem(0.8);
                    bottom: 0;
                    border: rem(0.3) dashed $secondary-text-color;
                    right: rem(0.8);
                    left: rem(0.8);
                    background: linear-gradient(rgba(#FFFFFF, 0.05), rgba(#CFD8DC, 0.3));
                }
            }

            .rv-file-drop-blur {
                filter:blur(rem(0.2));
            }
        }

        &-title {
            top: 12%;
            position: absolute;
            color: $secondary-text-color;
            width: 100%;
            padding: {
                left: rem(2.0);
                right: rem(2.0);
            }

            md-icon {
                display: block;
                height: rem(5);
                width: rem(5);
                margin-top: 18px;
            }
        }

        &-container {
            text-align: center;
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(white,0.86);
            z-index: 1; // to overlay close button
        }
    }
}
