@mixin filters {
    .rv-filters {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 8px;
        // look here for inspiration: http://codepen.io/anon/pen/pyjwbv
        // all this does is fits the table vertically in the available space
        &-data-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            min-height: 0; // Firefox fix; otherwise div won't shrink: http://stackoverflow.com/questions/27424831/firefox-flexbox-overflow

            .dataTables_wrapper {
                height: 100%;
                display: flex !important; // there was an update in datatables styles that was overriding `flex` with `block`
                flex-direction: column;
                min-height: 0; // Firefox fix; otherwise div won't shrink: http://stackoverflow.com/questions/27424831/firefox-flexbox-overflow

                .dataTables_scroll {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    min-height: 0; // Firefox fix; otherwise div won't shrink: http://stackoverflow.com/questions/27424831/firefox-flexbox-overflow

                    .dataTables_scrollHead {}

                    .dataTables_scrollBody {
                        flex: 1; // this needed for the body to fill available space
                        background: lighten($divider-color, 20%);

                        tbody {
                            .rv-wrapper {
                                display: flex;
                                align-items: center;

                                &.rv-symbol {
                                    justify-content: center;
                                    img {
                                        display: block;
                                    }
                                }
                            }

                            .rv-data {
                                // flex: flex-grow flex-shrink flex-basis; IE sets flex-basis as 0px which collapses the span instead of 0% as Chrome does;
                                flex: 1 1 auto;
                            }

                            // FIXME: should be removed when using real button in datatables
                            .rv-icon {
                                cursor: pointer;
                                margin: 0 0 0 rem(0.6);
                            }

                            .rv-zoom-to, .rv-description {

                                md-tooltip {
                                    display: none;
                                }

                                &:hover md-tooltip {
                                    display: block;
                                }
                            }

                            .disabled {
                                color: rgba(0, 0, 0, 0.26);
                            }
                        }
                    }
                }
            }
        }
    }
}
