@mixin geolegappbar {
    .geoleg-appbar {
        @extend %appbar;
        position: absolute;
        bottom: -52px;

        .rv-geoleg-title {
            @extend %appbar-title;
        }

        @include media($rv-sm) {
            width: 100%;
        }
    }
}

.rv-geosearch {
    display: flex;
    align-items: center;
    height: $toolbar-height - 8;

    .rv-geosearch-input {
        top: 9px;

        @include media($rv-gt-sm) {
            width: 220px;
        }
    }

    .rv-geosearch-clear {
        position: absolute;
        top: -5px;
        right: -10px;
        min-width: 0;

        md-icon {
            height: 15px;
        }
    }
}

.rv-geosearch-filters {
    bottom: 80px!important;
    top: 110px!important;
}

rv-geosearch-filters {
    display: flex;
    width: 100%;
    height: $toolbar-height + 10;
    justify-content: space-around;
    border-top: $divider-color 1px solid;

    md-input-container {
        overflow: hidden;
        height: 100%;

        > * {
            max-width: 125px;

            > .md-label {
                white-space: nowrap;
            }
        }
    }
}

.rv-geosearch-list-item {
    .rv-geosearch-main {
        display: flex;
        text-align: left;
        white-space: nowrap;
        width: 75%;
        padding-right: 10px;

        .rv-geosearch-name {
            font-size: rem(1.4);
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 1 0 auto;
            max-width: 85%
        }

        .rv-geosearch-location {
            color: $secondary-text-color;
            font-size: rem(1.2);
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 0 100 100%;
        }
    }

    .rv-geosearch-type {
        text-align: right;
        font-size: rem(1.2);
        color: $secondary-text-color;
        width: 25%;

        div {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .rv-geosearch-button {
        display: flex;
        width: 100%;
        border-radius: 0;
        border-bottom: $divider-color 1px solid;
        padding: 0;
        margin: 0;
        text-transform: none;
        font-weight: 400;
    }
}
