@mixin help {
    rv-help-overlay {
        position: absolute;
        z-index: 999;

        div[rv-name] {
            position: absolute;
        }
    }

    .rv-help-summary {
        height: 80%;
        width: 70%;
        border-radius: 0;
    }
}
