@mixin loader {
    .rv-loader-file {
        rv-stepper-item {
            &:first-of-type .rv-stepper-item-container:before {
                display: none;
            }

            &:last-of-type .rv-stepper-item-container:after {
                display: none;
            }
        }

        &-select-button {
            display: block;
            width: 100%;
            margin: {
                left: 0;
                right: 0;
            }
        }

        &-drop {
            position: relative;
            
            &:after {
                position: absolute;
                content: "";
                top: 0;
                bottom: -2px;
                border: 2px dashed grey;
                right: 0;
                left: 0;
            }
        }

        &-drop-title {
            display: block;
            line-height: rem(3.6);
            text-align: center;
            margin: rem(0.6) 0;
        }

        &-caption {
            display: block;
            text-align: center;
        }
    }
}
