@mixin loader {
    .rv-loader-file {
        rv-stepper-item {
            &:first-of-type .rv-stepper-item-container:before {
                display: none;
            }

            &:last-of-type .rv-stepper-item-container:after {
                display: none;
            }
        }

        &-select-button {
            display: block;
            width: 100%;
            margin: {
                left: 0;
                right: 0;
            }
        }

        &-caption {
            display: block;
            text-align: center;
        }
    }
}
