@mixin loader {
    .rv-loader {
        &-file,
        &-service {
            rv-stepper-item {
                // hides connecting lines before the first and after the last step in a sequence
                &:first-of-type .rv-stepper-item-container:before {
                    display: none;
                }

                &:last-of-type .rv-stepper-item-container:after {
                    display: none;
                }
            }

            &-caption {
                display: block;
                text-align: center;
            }

            // simple static hint
            // TODO: create a module for input controls and move it there
            .rv-hint {
                /* Position the hint */
                position: relative;
                left: rem(0.2);
                right: auto;
                top: rem(0.3);
                /* Copy styles from ng-messages */
                font-size: 12px;
                line-height: 14px;
                color: $secondary-text-color;
            }

            .rv-form-error > div {
                font-size: 12px;
                line-height: 14px;
                overflow: hidden;
                margin-top: 0;
                padding-top: 5px;
                color: rgb(221,44,0); /*color needs to be tied to theme*/
            }
        }

        // TODO: this is horrible; need to organize it better
        &-file {
            &-upload {
                &-drop {
                    text-align: center;

                    .md-errors-spacer,
                    .md-input {
                        display: none;
                    }
                }

                &-or {
                    display: block;
                    text-align: center;
                }
            }
            // local file select button
            &-select-button {
                padding: 0 rem(2.4) 0 rem(2.0);

                md-icon {
                    margin-right: rem(0.6);
                }
            }
        }
    }
}
