//.main-panel {


[ui-view='panelPlug'] {
    &.active {
        .panel {
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            position: absolute;
            background-color: white;
        }
    }
}
