// positions map navigation component

@mixin mapnav {
    $opacity-from: 0.62;
    $opacity-to: 1;

    rv-mapnav {
        position: absolute;
        bottom: 100px;
        right: $viewport-gutter;

        &.basemap {
            right: 300px + $viewport-gutter;
        }

        .rv-button-group {
            background-color: rgba(255, 255, 255, $opacity-from);
            transition: background-color $fade-in-out-duration ease-in;

            &:not([disabled]):hover,
            &:not([disabled]).md-focused {
                background-color: rgba(255, 255, 255, $opacity-to);
            }
        }

        rv-mapnav-button {
            display: flex;
            overflow: hidden;
            width: rem(3.2);
            line-height: rem(3.2);
            text-align: center;

            .md-button {
                margin: 0;

                .md-ripple-container {
                    border-radius: 0;
                }

                &:not([disabled]).selected {
                    > md-icon {
                        color: black;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
