// positions map navigation component
@mixin mapnav {
    .mapnav {
        position: absolute;
        bottom: 100px;
        right: $viewport-gutter;

        &.basemap {
            right: 300px + $viewport-gutter;
        }
    }
}
