@mixin setting-controls {
    @include setting-option;
    @include slider-setting;

    @include settings-panel;
}


@mixin settings-panel {
    rv-settings {
        .rv-subheader {
            border: none !important;
        }

        .rv-settings-divider {
            left: 0;
            position: absolute;
            width: 100%;

            // this will hide any extra dividers left when a layer setting is hidden
            + .rv-settings-divider {
                display: none;
            }
        }

        rv-legend-control {
            display: block;
            padding: rem(1.2) 0;

            > * {
                margin: 0;
            }

            &[name="reload"] {
                position: relative;
                display: block;
            }
        }

        md-input-container {
            width: 100%;
            padding: rem(1.2) 0;
        }

        .rv-hint {
            /* Position the hint */
            position: relative;
            left: rem(0.2);
            right: auto;
            top: rem(0.3);
            /* Copy styles from ng-messages */
            font-size: 12px;
            line-height: 14px;
            color: $secondary-text-color;
        }

        form {
            .interval-value {
                padding-right: 36px;
            }

            .refresh-hint {
                margin-top: 28px;
            }

            .rv-close {
                position: absolute;
                left: 280px;
                padding-bottom: 10px !important;
            }
        }

        .rv-input-footer {
            display: flex;
            margin-top: rem(1.0);

            .rv-input-changeat {
                .rv-control-name {
                    text-transform: lowercase;
                }
            }

            rv-legend-control {
                padding: 0;
                margin: 0 rem(0.4);

                .rv-link-button {
                    color: $primary-color-dark;
                    font-size: rem(1.2);
                    line-height: rem(1.2);
                    min-height: rem(1.2);
                    text-transform: none;
                    min-width: auto;
                    margin: 0;
                    padding: 0 rem(0.4);
                    height: rem(2);
                }
            }
        }
    }
}

@mixin setting-option {
    .rv-setting-option {
        border-bottom: 1px dashed $divider-color-light;
    }
}

// more styling on top of the default material slider control
@mixin slider-setting {
    .rv-slider {
        display: flex;
        flex-direction: column;

        > md-icon {
            margin-right: rem(1);
        }

        .rv-slider-header {
            > md-icon {
                margin-right: rem(1);
            }
        }

        .rv-slider-body {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            padding-left: rem(3.2);

            .rv-slider-label {
                margin-bottom: - rem(1.4);
                display: block;
            }

            > md-slider {
                flex: 1;
                margin-left: 0;
            }

            .rv-slider-indicator {
                padding-left: rem(1);
                min-width: rem(4.5);
                text-align: right;
            }
        }

        .rv-slider-footer {
            display: flex;
            padding-left: rem(3.2);
            top: - rem(1.2);
            position: relative;
            margin-bottom: - rem(1.3);

            .rv-slider-changeat {
                .rv-control-name {
                    text-transform: lowercase;
                }
            }

            rv-legend-control {
                padding: 0;
                margin: 0 rem(0.4);

                .rv-link-button {
                    color: $primary-color-dark;
                    font-size: rem(1.2);
                    line-height: rem(1.2);
                    min-height: rem(1.2);
                    text-transform: none;
                    min-width: auto;
                    margin: 0;
                    padding: 0 rem(0.4);
                    height: rem(2);
                }
            }
        }
    }
}