@mixin setting-controls {
    @include slider-setting;
    @include toggle-setting;
    @include boundingbox-setting;
}

@mixin boundingbox-setting {
    .rv-boundingbox-setting {
        > span {
            vertical-align: middle;
            margin: rem(1.6);
            line-height: rem(2.8);
            height: rem(3);
            width: 100%;
            margin-left: 0;
        }
    }
}

// more styling on top of the default material slider control
@mixin slider-setting {
    .rv-slider-setting {
        border-bottom: 1px dashed $divider-color-light;

        > div {
            width: 100%;
        }

        .rv-slider-setting-label {
            margin-bottom: - rem(1.4);
            display: block;
        }

        .rv-slider-setting-body {
            display: flex;
            align-items: center;

            md-slider {
                flex: 1;
                margin-left: 0;
            }

            .rv-slider-setting-indicator {
                padding-left: 10px;
                min-width: 45px;
                text-align: right;
            }
        }

        md-icon {
            margin-right: 5%;
        }
    }
}

@mixin toggle-setting {
    .rv-toggle-setting {
        display: flex;
        align-items: center;

        .md-button {
            margin: 0;
        }
    }
}
