@mixin shell {
    rv-shell {
        overflow: hidden;

        .rv-shell-progress-indicator {
            bottom: 0;
            position: absolute;
            height: 2px;
            overflow: hidden;
        }
    }
}
