@mixin symbology {
    // item in the symbology list
    @include layer-item-symbology;
}

@mixin layer-item-symbology {
    .rv-layer-item-icon {
        margin: 0;
        height: rem(3.2);
        width: rem(3.2);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0; // set up new stacking context
        @include symbology-item;

        .rv-symbology-trigger {
            // button which opens symbology section
            //transition: opacity $swift-ease-in-duration $swift-ease-in-out-timing-function;
            opacity: 0;
            margin: 0;
        }

        .rv-symbology-item {
            position: absolute;
            left: 0;
            top: 0;

            // hide symbology name in collapsed state
            .rv-symbology-item-name {
                opacity: 0;
                display: none;
            }
        }

        &.rv-compound {
            img {
                width: rem(3.2) - 2px;
                height: rem(3.2) - 2px;
            }

            .rv-symbology-item {
                // this block will move items 4 and up underneath the stack
                top: 1px;
                left: 1px;
                opacity: 0;
                visibility: hidden;

                // the following arranges the first three items in a visible stack
                &:first-of-type {
                    top: 3px;
                    left: 3px;
                    opacity: 1;
                    visibility: visible;
                }

                &:nth-of-type(2) {
                    top: 1px;
                    left: 1px;
                    opacity: 1;
                    visibility: visible;
                }

                &:last-of-type {
                    top: -1px;
                    left: -1px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

@mixin symbology-item {
    .rv-symbology-item {
        position: relative;
        //width: rem(3.2); // need to specify width, otherwise it's squashed
        //height: 100%;
        display: flex;
        align-items: center;

        .rv-symbology-item-name {
            margin-left: 8px;
            //opacity: 0;
            //display: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        img {
            //border: 1px solid black;
            padding: 1px;
            background-color: white;
            width: rem(3.2);
            height: rem(3.2);
        }
    }
}
