@mixin symbology {
    // item in the symbology list
    @include layer-item-symbology;

    $icon-size: rem(3.2);
    $icon-shadow: $whiteframe-shadow-1dp;

    .rv-symbology-container {
        margin: 0;
        height: $icon-size;
        width: $icon-size;
        position: relative;
        z-index: 0; // set up new stacking context

        .rv-symbol {
            position: absolute;
            left: 0;
            top: 0;

            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #fff;
            width: rem(3.2);
            height: rem(3.2);
            overflow: hidden;
            box-shadow: $icon-shadow;

            .rv-symbol-graphic {
                flex-shrink: 0;
                background-color: white;
                width: 100%;
                height: 100%;

                svg {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }

            .rv-symbol-label-container {
                width: 100%;
                flex: 1;

                // symbology label
                span {
                    display: none;
                    opacity: 0;
                    font-size: 14px;
                    padding: rem(0.4) rem(1.6);

                    // hide empty labels so their padding doesn't take up space on the page
                    &:empty {
                        display: none !important;
                    }
                }
            }
        }

        &.rv-compound .rv-symbol {
            $compound-icon-size: $icon-size - rem(0.2);

            width: $compound-icon-size;
            height: $compound-icon-size;

            // this block will move items 4 and up underneath the stack
            top: 1px;
            left: 1px;
            opacity: 0;
            visibility: hidden;

            // the following arranges the first three items in a visible stack
            &:first-of-type {
                top: 3px;
                left: 3px;
                opacity: 1;
                visibility: visible;
            }

            &:nth-of-type(2) {
                top: 1px;
                left: 1px;
                opacity: 1;
                visibility: visible;
            }

            &:last-of-type {
                top: -1px;
                left: -1px;
                opacity: 1;
                visibility: visible;
            }
        }

        .rv-symbol-trigger {
            // button which opens symbology section
            // transition: opacity $swift-ease-in-duration $swift-ease-in-out-timing-function;
            opacity: 0;
            margin: 0;
        }

        // renders symbology as a list of icon-name pairs when expanded; symbol items remain 32x32 regardless of their actual size
        &.rv-render-icons {
            .rv-symbol {

                flex-direction: row;
                overflow: visible;
                box-shadow: none;

                > .rv-symbol-graphic {
                    box-shadow: $icon-shadow;
                }

                .rv-symbol-label-container span {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }

        // renders symbology as a list of image-name pairs when expanded; images are enlarged up-to their original size or the width of the legend panel, whichever is smaller
        &.rv-render-images {
            .rv-symbol {
                flex-direction: column;
                text-align: center;

                .rv-symbol-label-container {
                    background-color: rgba(0, 0, 0, 0.68);
                    color: #fff;
                }
            }
        }
    }
}


///// old

$icon-size: rem(3.2);
$icon-shadow: $whiteframe-shadow-1dp;

@mixin layer-item-symbology {
    .rv-layer-item-icon {
        margin: 0;
        height: $icon-size;
        width: $icon-size;
        position: relative;
        z-index: 0; // set up new stacking context

        .rv-symbology-item {
            @extend %rv-symbology-item;
        }

        .rv-symbology-trigger {
            // button which opens symbology section
            // transition: opacity $swift-ease-in-duration $swift-ease-in-out-timing-function;
            opacity: 0;
            margin: 0;
        }

        &.esriTile,
        &.esriImage,
        &.esriDynamicLayerEntry,
        &.esriFeature {
            .rv-symbology-item {

                flex-direction: row;
                overflow: visible;
                box-shadow: none;

                > .rv-symbology-graphic {
                    box-shadow: $icon-shadow;
                }

                .rv-symbology-label-container span {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }

        &.ogcWms .rv-symbology-item {
            flex-direction: column;
            text-align: center;

            .rv-symbology-label-container {
                background-color: rgba(0, 0, 0, 0.68);
                color: #fff;
            }
        }

        &.rv-compound .rv-symbology-item {
            @extend %rv-symbology-compound;
        }
    }
}

%rv-symbology-item {
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    width: rem(3.2);
    height: rem(3.2);
    overflow: hidden;
    box-shadow: $icon-shadow;

    .rv-symbology-graphic {
        flex-shrink: 0;
        background-color: white;
        width: 100%;
        height: 100%;

        svg {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .rv-symbology-label-container {
        width: 100%;
        flex: 1;

        // symbology label
        span {
            display: none;
            opacity: 0;
            font-size: 14px;
            padding: rem(0.4) rem(1.6);

            // hide empty labels so their padding doesn't take up space on the page
            &:empty {
                display: none !important;
            }
        }
    }
}

%rv-symbology-compound {
    $compound-icon-size: $icon-size - rem(0.2);

    width: $compound-icon-size;
    height: $compound-icon-size;

    // this block will move items 4 and up underneath the stack
    top: 1px;
    left: 1px;
    opacity: 0;
    visibility: hidden;

    // the following arranges the first three items in a visible stack
    &:first-of-type {
        top: 3px;
        left: 3px;
        opacity: 1;
        visibility: visible;
    }

    &:nth-of-type(2) {
        top: 1px;
        left: 1px;
        opacity: 1;
        visibility: visible;
    }

    &:last-of-type {
        top: -1px;
        left: -1px;
        opacity: 1;
        visibility: visible;
    }
}
