@mixin table {
    .table-panel {
        .rv-content {
            height: 50%; // in Safari, content panel does not update to the right height when switch from maximized to split view
        }
    }

    .rv-transparent {
        visibility: hidden;
    }

    .rv-table-splash {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &.rv-splash-count-done {
            .rv-splash-count {
                top: - rem(3);
                transform: scale(0.7, 0.7);
                color: #B6B6B6;
                transition: all $swift-ease-in-duration * 3 $swift-ease-in-out-timing-function;

                &-slash {
                    stroke: #B6B6B6;
                    stroke-width: 1;
                }
            }

            .rv-splash-message {
                top: - rem(3);
                font-size: 14pt;
                transition: all $swift-ease-in-duration * 3 $swift-ease-in-out-timing-function;
            }
        }

        .rv-splash-count {
            top: 0;
            height: rem(5);
            position: relative;
            display: flex;

            &-current {
                font-size: 14pt;
                align-self: flex-start;
                top: rem(0.5);
                position: relative;
                right: - rem(0.5);
                font-weight: bold;
            }

            &-slash {
                stroke: #000;
                stroke-width: 1;
            }

            &-total {
                font-size: 12pt;
                align-self: flex-end;
                bottom: rem(0.5);
                left: - rem(0.5);
                position: relative;
            }
        }

        .rv-splash-message {
            top: 0;
            margin-top: rem(1.6);
            position: relative;
        }
    }

    .rv-table {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 8px;
        // look here for inspiration: http://codepen.io/anon/pen/pyjwbv
        // all this does is fits the table vertically in the available space
        &-data-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            min-height: 0; // Firefox fix; otherwise div won't shrink: http://stackoverflow.com/questions/27424831/firefox-flexbox-overflow

            table {
                table-layout: fixed; // make autowidth: false works for datatable https://datatables.net/forums/discussion/30530/set-fixed-column-width

                thead > tr > th > span {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .dataTables_wrapper {
                height: 100%;
                display: flex !important; // there was an update in datatables styles that was overriding `flex` with `block`
                flex-direction: column;
                min-height: 0; // Firefox fix; otherwise div won't shrink: http://stackoverflow.com/questions/27424831/firefox-flexbox-overflow

                .dataTables_processing {
                    z-index: 50; // show processing notice when tables redraw from filtering or sorting
                    background-color: $primary-color-light;
                    bottom: -15px;
                    top: inherit;
                    padding-top: 15px;
                    height: 45px;
                }

                .dataTables_scroll {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    min-height: 0; // Firefox fix; otherwise div won't shrink: http://stackoverflow.com/questions/27424831/firefox-flexbox-overflow

                    .dataTables_scrollHead {
                        @include largeFilters;

                        @include include-size(rv-lg) {
                            .rv-filter-string, .rv-filter-selector, .rv-filter-number, .rv-filter-date {
                                display: flex;
                            }
                        }

                        th {
                            user-select: none; // do not select header text to avoid table selection when drag & drop columns

                            md-input-container {
                                width: 100%; // because md-input-container with md-select inside will expand beyound the div
                            }

                            .rv-filter-selector {
                                font-weight: normal;

                                md-select {
                                    padding-top: 4px;
                                }
                            }
                        }

                        // changing zoom level on browsers causes width to change and headers do not scroll with body
                        width: 100% !important;
                    }

                    .dataTables_scrollBody {
                        flex: 1; // this needed for the body to fill available space
                        background: lighten($divider-color, 20%);
                        width: 100% !important;

                        thead {
                            visibility: hidden;
                        }

                        tbody {
                            // for keyTable navigation
                            td:focus {
                                outline: 1px solid $focus-color;
                                outline-offset: -1px;

                                & > .rv-render-tooltip {
                                    display: block;
                                    position: absolute;
                                    border: 1px solid #D3D3D3;
                                    background-color: #F2F2F2;
                                    padding: 2px 5px;
                                    box-shadow: 1px 1px 2px #CCC;
                                    max-width: 250px;
                                    white-space: normal;
                                    word-wrap: break-word;
                                }
                            }

                            // hide tooltip if td doesn't have the focus
                            .rv-render-tooltip {
                                display: none;
                            }

                            // ellipsis renderer when text is longer then field width
                            .rv-render-ellipsis {
                                max-height: rem(8.8); // enough to display at most 2 lines
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                display: list-item;
                            }

                            .rv-data {
                                // flex: flex-grow flex-shrink flex-basis; IE sets flex-basis as 0px which collapses the span instead of 0% as Chrome does;
                                flex: 1 1 auto;
                            }

                            .rv-wrapper {
                                display: flex;
                                align-items: center;

                                @include touch {
                                    @include button-size(rem(3.5));
                                    @include icon-size(rem(2.0));
                                }

                                button {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }

                .dataTables_info {
                    border-top: 1px solid #111111; // solve a bug with Chrome where the border does not appear in maximized view
                    z-index: 2;
                }
            }
        }

        rv-table-setting-cluster {
            position: absolute;
            bottom: -6px;
            right: 0;
            z-index: 2;

            .rv-button-group {
                float: right;
                height: 40px;

                button {
                    margin: 0;
                }

                .rv-filters-apply {
                    margin-top: 0;
                    margin-bottom: 0;
                }

                .rv-filters-divider {
                    @extend %filters-divider;
                }
            }
        }
    }

    .table-toast {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

rv-table-search {
    display: flex;
    align-items: center;
    height: $toolbar-height - 8;

    .rv-table-search {
        input {
            top: 9px;

            @include include-size(rv-gt-sm) {
                width: 220px;
                flex-basis: 220px;
            }
        }

        .md-button {
            position: absolute;
            top: -5px;
            right: -10px;
            min-width: 0;

            md-icon {
                height: 15px;
            }
        }
    }

    .rv-filters-divider {
        @extend %filters-divider;
    }
}

%filters-divider {
    border-right: $divider-color 1px solid;
    height: 65%;
    display: inline-block;
    vertical-align: middle;
    margin: {
        right: rem(0.4);
        left: rem(0.4);
    }
}

@mixin largeFilters {
    .rv-filter-string, .rv-filter-selector, .rv-filter-number, .rv-filter-date {
        display: none;
        height: 35px;
    }

    md-input-container {
        margin: 0;

        input {
            &[placeholder] {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}

rv-table-setting-panel {

    .rv-header {
        padding-right: 12px !important;
    }

    button {
        margin: 0 !important;
    }

    md-content {
        height: 100%;
        padding: 0 !important;
        margin-bottom: 0 !important;
        overflow: hidden;

        .rv-flex {
            display: flex;
            flex-direction: column;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }

    .rv-filter-desc {
        display: flex;
        position: relative;
        align-items: center;
        height: 40px;

        .rv-filter-desc-button {
            text-align: left;
            position: absolute;
            padding: 0;
            margin: 0;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 1;
        }
    }

    .rv-filter-desc-main {
        padding: 5px;
    }
    .rv-filter-desc-column {
        padding-left: 12px;
    }

    .rv-settings-controls {
        flex: 0 0 35px;
        padding: 9px 16px;
        text-align: right;
    }

    .rv-filter-setting {
        background-color: $primary-color-dark;
        color: $primary-color-text;
        padding: 10px 40px;
        width: 100%;
        overflow: auto;
        flex: 1 0 80%;

        h4, h3, .md-toggle-icon {
            color: $primary-color-text;

            &.rv-toggled {
                transform: rotate(180deg) !important;
            }
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            .rv-filter-list {
                padding-left: 0px;
            }

            li {
                display: flex;
                height: 40px;
                background-color: $primary-color-dark;

                span, button, div, md-icon {
                    align-self: center;
                    color: $primary-color-text;
                }

                md-icon {
                    margin-left: rem(0.5);
                }

                div.rv-filter-setting-sort {
                    padding-left: rem(2.7);
                }

                div.rv-filter-setting-display {
                    padding-left: rem(4.4);
                }

                button {
                    background: transparent;
                    border: 0;
                    padding: 0;
                    display: flex;
                }

                .rv-filter-setting-reorder {
                    flex: 0 0 40px;
                }

                .rv-filter-setting-name {
                    flex: 2 0 30%;
                    padding-left: 25px;
                }

                .rv-filter-setting-item {
                    flex: 1 0 30%;

                    .rv-filter-number, .rv-filter-selector, .rv-filter-string, .rv-filter-date {
                        height: 40px;
                        align-items: center;
                    }

                    .md-errors-spacer {
                        display: none;
                    }
                }

                .rv-filter-setting-sort {
                    flex: 0 1 10%;
                    min-width: 60px;
                }

                .rv-filter-setting-display {
                    flex: 0 1 10%;
                    min-width: 60px;

                    md-checkbox {
                        margin: 0;
                    }
                }
            }
        }

        .rv-filter-setting-container {
            .rv-filter-date {
                bottom: 0px;
            }
        }

        .rv-filter-number, .rv-filter-selector, .rv-filter-string, .rv-filter-date {
            display: inline-flex;
            width: 90%;

            // TODO: create a mixin with same section inside export
            input {
                color: $primary-color-text;
                border-color: $primary-color-light;

                &::placeholder {
                    color: $primary-color-text;
                    opacity: 0.8;
                }
            }

            md-input-container {
                > label {
                    color: $primary-color-light;
                }

                .md-input {
                    color: $primary-color-text;
                    border-color: $primary-color-light;

                    &::placeholder {
                        color: $primary-color-text;
                        opacity: 0.8;
                    }
                }

                div[ng-message], .md-char-counter {
                    color: $primary-color-light;
                }

                &.md-input-invalid .md-input {
                    border-color: $alert-color;
                }

                // remove clear button rendered by IE;
                input::-ms-clear {
                    display: none;
                }
            }
        }
    }
}
