@mixin truncate {
    rv-truncate {
        word-wrap: break-word;
    }

    .rv-truncate-title {
        display: flex;

        &-left {
            flex-shrink: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-right {
            flex-shrink: 0;
            text-overflow: clip !important;
        }
    }
}