<md-dialog class="rv-export">
    <form ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content" ng-class="{ 'rv-error': self.isError }">
                <div class="rv-export-map" ng-class="{ 'rv-export-complete': self.isGenerationComplete }">
                    <rv-svg class="rv-export-dummy"
                            src="self.dummyGraphic"></rv-svg>

                    <rv-svg class="rv-export-server"
                            src="self.serviceGraphic"></rv-svg>

                    <rv-svg class="rv-export-local"
                            src="self.localGraphic"></rv-svg>

                    <rv-svg class="rv-export-tainted" ng-if="self.isTainted"
                            src="self.taintedGraphic"></rv-svg>
                </div>

                <rv-svg ng-if="self.isLegendIncluded"
                        class="rv-export-legend"
                        src="self.legendGraphic"></rv-svg>

                <!-- need to hide the title input field when displaying the tainted canvas image for manual saving -->
                <div class="rv-export-title" ng-hide="self.isTainted">
                    <md-input-container md-no-float class="md-headline" ng-disabled="self.isError">
                        <input placeholder="{{ 'export.title' | translate }}" ng-model="self.exportTitle">
                    </md-input-container>
                </div>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
             <md-progress-linear
                    class="rv-export-progress-indicator"
                    ng-hide="self.isGenerationComplete || self.isError"
                    md-mode="indeterminate"></md-progress-linear>

            <md-checkbox translate-attr-aria-label="export.includelegend"
                ng-model="self.isLegendIncluded"
                ng-change="self.includeLegend()"
                ng-disabled="self.isError"
                class="md-primary">
                {{ 'export.includelegend' | translate }}
            </md-checkbox>

            <span flex></span>

            <md-button
                class="rv-button-square"
                ng-click="self.close()">
                {{ 'export.close' | translate }}
            </md-button>

            <md-button
                class="rv-button-square md-raised md-primary"
                ng-click="self.saveImage()"
                ng-disabled="!self.isGenerationComplete || self.isError">
                {{ 'export.save' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>